/*ACORDEON DE LAS FAQ*/

.titleAccordion {
padding: 7px 9px 7px 9px;
background-color: #c6e1ec;
color: black;
font-weight: bold;
cursor: pointer;
margin-bottom: 10px;
}

.titleAccordion:before {
content: '+';
margin-right: 1em;
}

.titleAccordionActivo:before {
content: '-';
margin-right: 1em;
}

strong {
font-weight: bold;
}

.textAccordion{
	padding: 10px;
}

.accordion.first{
	padding-top: 50px;
}
