.h-right {
    float: right;
    display: block;
}

.h-left {
    float: left;
    display: block;
}

.fms-block {
    margin-top: 25px;
    border: 0;
    position:relative;
    display: block;
    font-size: 12px;
    text-align: left;
}

.fms-block .avatar {
    display:block;
    float:left;
    padding-top:1px;
    padding-right:15px;
}

.fms-block .avatar img {
    width: 42px;
    height: 42px;
    border-radius:2px;
}

.fms-block .info {
    display:block;
    float:right;
}

.fms-block .info span, .fms-block .info a{
    display:block;
}
