#pagina {
	width: 99%; 
	background-color: #dfe8ee; 
	box-shadow: 0 -3px 10px #999; 
	position: fixed; 
	bottom: 0; 
	z-index: 999999;
	opacity: 0.9;
	margin-left: 7px;
}

#pagina .info_cookies {
	position: relative; 
	width: 100%; 
	margin: 0 auto; 
	font-size: 12px; 
	line-height: 15px; 
	font-family: Arial, Helvetica, sans-serif;
}

#pagina .info_cookies span {
	padding: 25px 70px; 
	display: inline-block; 
	background: transparent url(../img/icon-alert.png) no-repeat 20px 22px;
	color: black;
}

#pagina .info_cookies strong {
	font-size: 14px; 
	font-weight: bold;
}

#pagina .info_cookies a {
	color: #002e48; 
	font-weight: bold;
}

#pagina .info_cookies .closeCookies {
	position: absolute; 
	top: 10px; right: 10px; 
	color: #FFF; 
	font-weight: bold; 
	font-size: 17px; 
	text-decoration: none;
}
