form, input, button{
    padding: 0;
    margin: 0;

}

.login{
    margin-top: 20px;
    margin-bottom: -15px;
}

.h-right {
    float: right;
    width:50%;
}

.h-left {
    float: left;
    width:50%;
}

.h-center{
    float: center;
}

/*.bg .remember input[type=checkbox] {
    vertical-align: middle;
    margin-right: 4px;
}*/

.bg .tipo {
    margin-right: 4px;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

.bg .typeLabel{
    font-size: 11px;  
    margin-right: 10px;

}

.h-stext, .h-stext-link {
    color: #999;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.3;
}

.fms-block {
padding: 0 16px 12px;
/*margin: 16px 0 0;*/
border: 0;
}

.fms-block>ul>li {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    margin-left: 4px;
}

.placeholder{
    position: relative;;
}

.fms-block .placeholder .textfield {
    width: 125px;
}

.fms-block .error {
    position: absolute;
    top: 8px;
    margin: 0 0 0 45px;
    font-size: 11px;
    color: #a02b27;
}

.textfield {
    display: block;
    padding: 0 6px;
    background-color: white;
    box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    border-top-color: #ccc;
    border-radius: 4px;
    -webkit-transition: box-shadow .3s ease,border-color .2s ease;
    transition: box-shadow .3s ease,border-color .2s ease;
}

.textfield input::-webkit-input-placeholder {
    font-family: Open Sans;
    font-weight: 100;
    color:  #ccc;
}
.textfield input:-moz-placeholder { /* Firefox 18- */
    font-family: Open Sans;
    font-weight: 100;
    color:  #ccc;}

.textfield input::-moz-placeholder {  /* Firefox 19+ */
    font-family: Open Sans;
    font-weight: 100;
    color:  #ccc;}

.textfield input[type="password"], .textfield input[type="text"], .textfield input[type="email"]{
    display: block;
    width: 100%;
    height: 25px;
    border: 0;
    padding: 5px 3px 5px;
    background: 0;
    font-size: 13px;
}

input[type="text"], textarea, select {
    font: 13px/16px Sans-serif,Helvetica,Arial;
}

/*.bg .remember, .bg .forgotpass {
    margin-top: 2px;
    font-size: 11px;
    text-align: left;
}*/

.bg .tipo, .bg .forgotpass {
    margin-top: 2px;
    font-size: 10px;
    text-align: left;
}

.bg .forgotpass a{
    color: #999;
}

.bg .forgotpass {
    position: absolute;
    white-space: nowrap;
    padding-top: 4px;
}

.cf:after{
    clear: both;
}

.cf:before, .cf:after{
    content: " ";
    display: table;
}

.ff-txt-error, .h-stext.ff-txt-error {
    color: #a02b27;
}

.action.act-submit>span{
    border-color: #097db1 #0b6690 #0b6690;
    background: linear-gradient(#1098d3, #077cb1);
}

.action.act-submit>span, .action.act-submit.disabled:hover>span, .action.act-submit.disabled:active>span {
    border-color: #097db1 #0b6690 #0b6690;
    background: -webkit-linear-gradient(#1098d3,#077cb1);
    background: -moz-linear-gradient(#1098d3,#077cb1);
    background: linear-gradient(#1098d3,#077cb1);
}

.action {
    position: relative;
    font-size: 11px;
    color: #666;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.action>span{
    position: relative;
    height: 24px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    line-height: 25px;
    padding: 0 8px;
}

.action b {
    padding: 0 8px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    line-height: 25px;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

.action:not(.act-feedback)>span {filter: none!important;}

.act-submit span{
    box-shadow: inset 0 1px rgba(255,255,255,019);
}

.act-submit b, .act-launch b, .act-danger b {
    text-shadow: 0 1px rgba(0,0,0,0.35);
    color: white;
}

.error:empty;{
    display: none;
}

input, textarea, select, button {
    vertical-align: middle;
}


.btn {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: #333;
    margin-top:0px;
    padding: 9px 16px;
    background: -moz-linear-gradient(
        top,
        #E6B906 0%,
        #ffcc00);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#E6B906),
        to(#ffcc00));
    background: linear-gradient(#E6B906,#ffcc00);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px solid #171717;
    -moz-box-shadow:
        0px 1px 3px rgba(148,068,148,0.5),
        inset 0px 0px 0px rgba(129,123,209,0);
    -webkit-box-shadow:
        0px 1px 3px rgba(148,068,148,0.5),
        inset 0px 0px 0px rgba(129,123,209,0);
    box-shadow:
        0px 1px 3px rgba(148,068,148,0.5),
        inset 0px 0px 0px rgba(129,123,209,0);
    text-shadow:
        0px -1px 0px rgba(148,086,148,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
    cursor:pointer;
}

.btn:hover {
    border-color: #34bff3 rgba(0,0,0,0.1) #0568a6;
    background: #E6B906;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #E6B906));
    background: -webkit-linear-gradient(#ffcc00,#E6B906);
    background: -moz-linear-gradient(#ffcc00,#E6B906);
    background: -o-linear-gradient(#ffcc00,#E6B906);
    -pie-background: linear-gradient(#ffcc00,#E6B906);
    background: linear-gradient(#ffcc00,#E6B906);

}

#login-form{
    height: auto;
}

.registerDiv{
    font-family: Open Sans, Arial;
    font-weight: 100;
    margin-top:40px;
    margin-bottom:70px;
    text-align: right;
}

.registerDiv strong{
    color:#555;
    font-size:18px;
    line-height: 30px;
    display: block;
    font-weight: 100;
}
.registerDiv a{
    font-size:22px;
}

.registerDiv{
    font-size:20px;
    color:#bbb;
    display: block;
}

.articles{
    margin:0 auto;
    text-align: center;
    margin-bottom: 50px;
}

article{
    display:inline-block;
    width:220px;
    font-family: Open Sans, Arial;
    font-weight: 100;
    text-align: center;
    margin-right:40px;
}

.articles  img{
    width:45px;
    height:45px;
    float:center;
}

.articles  h1{
    font-size:27px;
    font-family: Open Sans, Arial;
    font-weight: 100;
    margin-bottom: -5px;
}

.articles  p{
    font-size:15px;
}

.last{
    margin-right: 0px!important;
}