.span2{
	width:230px;
	margin-left: -15px
}

.span10{
	width: 755px;
	margin-left: 30px;
}

[class*="span"]{
	float: left;
	min-height: 430px;
	margin-bottom: 50px;
	overflow: hidden;
}

.tabs ul{
	list-style:none;
	margin-bottom:10px;
	padding-left: 15px;
}

.tabs a{
	font:normal 13px Open Sans,Arial;
/*	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:13px;
	font-weight:normal;*/
	line-height:1.2;
	padding:14px 8px;
	margin:0;
	text-decoration:none;
	display:block;
	color:#01669a;
}

.tabs > ul > li.first{
	border-top:none;
}

.tabs .nav > li > a:hover{
	background:inherit;
}

.tabs .nav > li > a.active,.tabs .nav > li > a.active:hover{
	background:#f0f0f0;
}

.tabs > ul > li{
	border-top:1px solid #eee;
}


.contenido{
	margin-top: 50px;
}


.col1{
	width:50%;
	float: left;
	margin-top: 20px;
}

.col2{
	width:50%;
	float: right;
	margin-top: 20px;
}

.pic{
	width: 480px;
	max-height: 123px;
	padding: 20px 0px 0px 0px;
}

.pic img{
	border: 1px solid #dfdfdf;
 	width: 120px ;
 	height: 120px;
}

.photo{
	float: right;
	margin-top: 100px;
}

.maintenance select{
	margin-left: 0px;
	color:#666;
	width: 248px;
	height: 34px;
	padding: 0px 0px 0px 10px;
	border: 1px solid #DDDDDD;
	font-size: 13px;
	border-radius: 4px;
}

.observation{
	margin-left: 0px;
	color:#666;
	padding: 0px 0px 0px 10px;
	border: 1px solid #DDDDDD;
	font-size: 13px;
	border-radius: 4px;
}

.lblcountry, .lblstate, .lblcity{
	width: 25%;
	float: left;
	margin-bottom: 10px;
	margin-top: 12px;
}

.cbocountry, .cbostate, .cbocity{
	width: 75%;
	float: right;
	margin-bottom: 5px;
	margin-top: 5px;
}

 .lblcity{
	width: 25%;
	float: left;
	margin-bottom: 12px;
}

.cbocity{
	margin-bottom: 12px;
}

.selcity{
	width: 150px;
}

.update{
	margin-left: 28px;
}

.preferences{
	width:100%;
}

#capacity{
	width: 228px;
	margin-left: 30px;
}

/*Cabecera de las pestañas*/
.MaintenanceHeader{
	color: #01669a;
}