#slideshow {
  margin:40px auto;
  width:100%;
  height:570px;
  position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:80%;
  height:100%;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:540px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:100%;
}

.control {
  display:block;
  width:70px;
  height:100%;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:0;
  left:0;
  background:transparent url(../img/control_left.png) no-repeat center left;
}
#rightControl {
  top:0;
  right:0;
  background:transparent url(../img/control_right.png) no-repeat center right;
}
.slide h1{
  padding-top: 70px;
}