@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,400,700);

body{  
	height: 100%;
	margin: 0;
	padding: 0;
	font: normal 14px Open Sans,Arial;
	line-height:22px;
	color:#5d5d5d;
	background-color:#fcfcfc;

}

.clear {
	clear: both;
}

a{	
	color: #1492d6;
	text-decoration:none;	
}

a:hover{	
	color: #0489B1;
}

a:focus {
	outline:0px;
}

.slogan a:hover{	
	color: #fff;
}

/*h3{
	font-size:20px;
	color:#333;
	line-height:35px;
}*/

.phone {height:460px; float:right; bottom:0px; position:relative; display:block;}
.icon {height:100px; width:100; float:left; position:relative; display:block;border-radius: 25px; margin-left:60px;margin-top: 15px}

.slogan-header {
    width: 100%;
    height: 500px;
    float: left;
    clear: both;
    margin-bottom: 50px;
    margin-top: -25px;
    padding: 0;
    position: relative;
    /*z-index: 1;*/
    background: #fff url('../img/back.jpg') no-repeat center;
    background-size: 100% ;
}

.slogan-header h1 {
    font-size: 2.5em;
    margin: 80px 0px 10px 0px;
    width: 100%;
    float: left;
    clear: both;
    text-align: left;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    font-weight: 100;
    line-height: 1.45em;
}

.slogan-header strong {
    font-size: 1.5em;
    text-align: left;
    color: #fff;
    font-weight: 100;
    line-height: 4.45em;
}

.slogan-header p {
    color: #ddd;
    font-size: 1.7em;
    line-height: 1.4em;
    font-weight: 100;
    margin-bottom: 25px;
}

.slogan {
    float:left;
    padding: 40px 0px 0px 0px;
}

/*  CABECERA  */

.header{
	position: relative;  
	width: 100%;
	height: 100px;
  	background: #fff url('../img/back.jpg') 0px 225px;
	background-size: 100%;
}

.header-index{
	position: relative;  
	width: 100%;
	height: 80px;
	background-size:100%;
}

.text-index{
	width: 50%;
}

.btnregister{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    line-height: 25px;
    padding: 4px 25px 4px 25px;
    vertical-align: middle;
    background: linear-gradient(#1098d3,#077cb1) 
}

.logo {
	position: relative;  
	padding-top: 10px;
}

.logo img {
	width:225px;
	border:0px;
}

.bg {
	margin:auto;
	width:1000px;
	/*z-index: 2;*/
}

.clear_15 {width: 100%; float: left; clear: both; margin: 15px 0;}
.clear_10 {width: 100%; float: left; clear: both; margin: 10px 0;}

.wrap {
	margin:40px auto;
	width:1000px;
	z-index: 2;
	min-height:200px;
}

.boldtype {font-weight: bold;}

.client-driver{
	width: 400px;
	float: left;
	margin-left: 10px;
	margin-right: 40px;
}

.img_center {
    padding-left: 135px;
}

.centered {
    text-align: center;
    font-size: 16px;
}

.cabecera{
	font-family:Open Sans;
	margin-top:20px!important;
	margin-bottom:-40px!important;
	height:55px;
	color:#666;
}

/*.cabecera h3{
	font-size:14px;
	width:1000px;
	margin:auto;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:normal!important;
}
*/
.titulo{
  margin-top:40px;
	margin-bottom:40px;
	/*padding-bottom:20px;*/
}

.titulo h1{
	font-family:Open Sans;
	font-size:38px;
	line-height:37px;
	text-align:center;
  font-weight: 100;
	color:#555;
}

.titulo h3{
	width:85%;
	margin: auto;
	font-family:Open Sans;
	font-size:26px;
	font-weight:100;
	line-height:22px;
	text-align:center;
	color:#ffcc00;
}

.titulo h2{
	font-family:Open Sans;
	font-size:23px;
	line-height:23px;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:-10px;
	color:#555;
}

.tituloTermsofuse{
	padding-bottom:10px;
}

/*  FOOTER  */
.footer{	
	font-family: Open Sans; 
	position: relative;
	margin-top: 70px;
	height:60px;
	clear:both;
	width:100%;
	border-top: 1px solid #ccc;
}

.navigation{
	padding-top:0px;
	float:left;
	text-align:left;
	display:block;
}

.navigation  li{
	display:inline;	
	background: url(../img/separator.gif) center right no-repeat;
	margin-right:10px;
	margin-left: 10px;
}


.navigation  li.first{
	margin-left:-10px;	
}

.navigation  li a{
	margin-right:25px;
	font-size:12px!important;
	color: #999;
	text-decoration:none;	
	-webkit-transition-property:color; 
	-webkit-transition-duration: 0.4s; 
	-webkit-transition-timing-function: linear, ease-in;
	-moz-transition-property:color; 
	-moz-transition-duration: 0.4s; 
	-moz-transition-timing-function: linear, ease-in;
}

.navigation li.laster{
	background: none;
}

.navigation ul{
	-webkit-padding-start: 10px;
}

.navigation a:hover{	
	color: #3783B2;
}

.author {
	color:#999;
  font: 12px/16px "Open Sans",Sans-serif,Helvetica,Arial;
	line-height:18px;
	text-align:right;
	float:right;
	margin-top:15px;
}

.author select{
	border:0px;
	color: #999;	
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
  font-size: 12px;
}

/*  REGISTRO  */


.error ul, .error li{
	font-size:12px;
	color:#DF0101;
	padding-bottom:0px;
	list-style:none;
	margin-left:-40px;
}

.Webmap li{
	padding-bottom: 10px;
	list-style: disc;
}

.Webmap, .faq, .client, .driver, .contact{
	min-height: 450px;
}

.Webmap a{
	color: black;
}

.Webmap a:hover{	
	color: #3783B2;
}



/* COLUMNAS PARA TERMINOS Y CONFIGURACION */

.col3 h1{
	font-size:38px;
}

.col3 h3{
	clear:both;
	width:30%;
	display:block;	
	float:left;
	font-weight:normal;
	font-size:27px;
	line-height:30px;
	color:#333;
	padding-left:30px;
	margin-top:15px;
}

.col3 p{
	float:right;
	width:60%;
	padding-bottom:40px;
	line-height:23px;
}
.col3 div{
	float:right;
	width:60%;
	margin-top:-35px;
}

.col3 p strong{
	font-size:20px;
	color:#333;
	line-height:35px;
}

.col3 p button{
	width:345px;
	height:35px;
	margin-top:-50px;
}

/* TABS DEL REGISTRO*/


.wrapper {
    width:45%;
  	margin-top: 20px;
  	padding: 1em;
}

ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tabs li {
  float: left;
  margin: 0 .25em 0 0;
  padding: .75em 1.5em;
}

ul.tabs li a {
/*  color: #228ccf;*/
    color: gray;
/*  font-weight: bold;*/
  	text-decoration: none;
}

/*ul.tabs li.active {
	border-bottom: 3px solid #228ccf;
}*/

ul.tabs li.active a {
	color:#228ccf;
}

/*ul.tabs li a:hover {
	color: gray;
}*/

.clr {
  clear: both;
}

.block article {
  padding: 0 1em;
  border-top: 1px solid #ccc;
}

.registerClientForm span, .registerDriverForm span{
  line-height: 50px;
}

.registerClientForm {
  margin-top: 20px;
	margin-bottom: 60px;
}

.registerDriverForm {
	margin-top: 20px;
  margin-bottom: 60px;
}

.registerClientForm input, .registerDriverForm input, .maintenance input:not([type="radio"]){
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 5px;
  margin-bottom: 7px;
  height: 40px;
  width: 330px;
  outline: none;
  padding: 0px 0px 0px 10px;
  border: 1px solid #DDDDDD;
  color: #666;
  font-size: 13px;
  border-radius: 4px;
}

.registerClientForm input[type="checkbox"], .registerDriverForm input[type="checkbox"], .maintenance input[type="checkbox"]{
	height: 15px;
	width: 15px;
	margin: 3px 7px 3px 4px;
	vertical-align: middle;
  position: relative;
  bottom: 2px;
}

.registerDriverForm #capacity{
	width: 140px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #666;
	height: 40px;
	padding: 0px 0px 0px 10px;
	border: 1px solid #DDDDDD;
	font-size: 13px;
	border-radius: 4px;
}

.btn {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 13px;
    color: #333;
    margin-top: 10px;
    padding: 7px 16px;
    background: -moz-linear-gradient(
        top,
        #E6B906 0%,
        #ffcc00);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#E6B906),
        to(#ffcc00));
    background: linear-gradient(#E6B906,#ffcc00);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px solid #171717;
    -moz-box-shadow:
        0px 1px 3px rgba(148,068,148,0.5),
        inset 0px 0px 0px rgba(129,123,209,0);
    -webkit-box-shadow:
        0px 1px 3px rgba(148,068,148,0.5),
        inset 0px 0px 0px rgba(129,123,209,0);
    box-shadow:
        0px 1px 3px rgba(148,068,148,0.5),
        inset 0px 0px 0px rgba(129,123,209,0);
    text-shadow:
        0px -1px 0px rgba(148,086,148,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
    cursor:pointer;
    margin-bottom: 50px;
}

.btn:hover {
    border-color: #34bff3 rgba(0,0,0,0.1) #0568a6;
    background: #E6B906;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #E6B906));
    background: -webkit-linear-gradient(#ffcc00,#E6B906);
    background: -moz-linear-gradient(#ffcc00,#E6B906);
    background: -o-linear-gradient(#ffcc00,#E6B906);
    -pie-background: linear-gradient(#ffcc00,#E6B906);
    background: linear-gradient(#ffcc00,#E6B906);

}

.italic{
	font-style: italic;
	color: #228ccf;
}

.imagenD2{	
	float:left;
	width:40%;	
	padding-right:20px;
}

/*Validación errores*/
.registerError:emOpeny;{
    display: none;
}

.registerError {
  clear: both;
  font-size: 13px;
  margin: auto 3px auto;
  color: #a02b27;
  line-height: 45px;
}

.showfieldError{
	font-size: 25px;
	color: #a02b27;
	margin-left: 10px;
}

.hidefieldError{
	display: none;
}


.cuadro{
  clear:both;
  position: relative;
  background: url('../img/separador.png') bottom no-repeat;
  min-height:386px;
  margin-bottom: 100px;
  padding-top: 75px;
}


.imagenI {
  width:50%;
  float:left;
  padding-left:20px;
  padding-top:30px;
}

.imagenI img{
  float:right;
}

.textoD{
  float:right;
  width:45%;
  padding-top:30px;
}

.textoD ul{
  padding-left:30px;
  line-height:32px;
}

.textoD h3, .imagenI h3{
  color:#444;
  font-size:26px;
  font-weight:100;
  margin-top:10px;
  margin-left:-30px!important;
}

.left75{
  width: 55%;
  float:left;
}

.right25{
  width: 44%;
  float:right;
}

/*Para la pantalla de Recuperar contraseña*/
.recover{
	min-height: 400px;
	margin-left: 200px;
}

.passwordcontent{
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 555px;
	margin-top: 20px;
}
.passwordHeader{
	border-bottom: 1px solid #ccc;
    margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	padding: 6px 0 16px;
	padding-bottom: .5em;
}

.passwordBody{
	margin: 20px 20px 20px 75px;
}

.passwordButtom{
	border-top: 1px solid #ccc;
	margin-top: 20px;
}

.passwordButtom .btn{
	margin:10px 30px 10px 75px;
}

*:focus{ 
	outline:0px; 
}


textarea:disabled, input:not([type]):disabled, input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled {
  background-color: #f3f3f3;
}

.lblCapacidad{
	margin-right: 20px;
}

canvas{
  float: left;
  margin-bottom: 50px;
}

.stores{
  float:left;
  padding-top: 20px;
  padding-right: 20px;
  width:160px!important;
  height:50px!important;
}
.emptyBox{
  height: 70px;
}

.boxUp{
  clear:both;
  background: url('../img/separador.png') top no-repeat;
  min-height:350px;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-top: 130px;
}
.box{
  clear:both;
  background: url('../img/separador.png') bottom no-repeat;
  min-height:350px;
  padding-bottom: 130px;
}
.boxI{
  display: block;
  float:left;
  padding-top:30px;
}
.boxD{
  display: block;
  float:right;
  padding-top:30px;
}
.boxI h1, .boxD h1{
  color:#1492d6;
  font-size:39px;
  line-height: 45px;
  font-weight:100;
}
.boxI h3, .boxD h3{
  color:#333;
  font-size:20px;
  line-height: 25px;
  font-weight:400;
}
.boxI img, .boxD img{
  text-align: center; 
  display: block;
  vertical-align: center;
  margin: 0px auto 30px;
  width: 100%;
}


.width5{
  width:5%;
}
.width10{
  width:10%;
}
.width15{
  width:15%;
}
.width20{
  width:20%;
}
.width25{
  width:25%;
}
.width30{
  width:30%;
}
.width35{
  width:35%;
}
.width40{
  width:40%;
}
.width45{
  width:45%;
}
.width50{
  width:50%;
}
.width55{
  width:55%;
}
.width60{
  width:60%;
}
.width65{
  width:65%;
}
.width70{
  width:70%;
}
.width75{
  width:75%;
}
.width100{
  width:100%;
  text-align: center;
  margin-top: -100px;
}

.resetpass{
  margin-top: 100px;
  margin-left: 50px;
}

.resetbtn{
  margin-top: 50px;
}


.registerErrorRec {
  clear: both;
  font-size: 13px;
  margin: auto 75px auto;
  color: #a02b27;
}

.passwordButtomRec{
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.passwordButtomRec .btn{
  margin:10px 30px 10px 75px;
}