{% load i18n %}
<!DOCTYPE html>
<html lang="es">
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="TaxiExpress Website">
        <meta name="author" content="TaxiExpress">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% block head %}{% endblock %}
    </head>
    <body>    
        <div class="header">
            <div class="bg">
                <div class="logo h-left"> 
                    <a href="/"><img src="{{STATIC_URL}}img/logo2.png" alt="Logo" /></a>
                </div>
                <div class="login h-right">
                   <fieldset class="fms-block"> 
                        <div class="avatar">
                            {% if client.image != null %}
                                {% if client.image == "" %}
                                    <img id="fotoSession" src="{{STATIC_URL}}img/user.png" alt="no hay foto"/>
                                {% else %}
                                    <img id="fotoSession" src="{{client.image}}" alt="no hay foto"/>
                                {% endif %}
                            {% else %}
                                {% if driver.image == "" %}
                                    <img id="fotoSession" src="{{STATIC_URL}}img/user.png" alt="no hay foto"/>
                                {% else %}
                                    <img id="fotoSession" src="{{driver.image}}" alt="no hay foto"/>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="info">
                            {% if client.email != null %}
                                <span id="email">{{client.email}}</span> 
                            {% else %}
                                <span id="email">{{driver.email}}</span> 
                            {% endif %}
                            <a href="logout">Cerrar sesión</a>
                        </div>                      
                    </fieldset>
                </div>
            </div>        
        </div>
        {% block content %}{% endblock %}
        <div class="bg">
            <div class="footer clear">
                <div class="navigation">
                    <ul>
                        <li><a href="faq.html">F.A.Q.</a></li>
                        <li><a href="contact.html">Contáctanos</a></li>
                        <li><a href="map.html">Mapa Web</a></li>
                        <li><a href="termsofuse.html">Términos de uso</a></li>
                        <li class="laster"><a href="legalnotice.html">Aviso Legal</a></li>
                    </ul>
                </div>
                <div class="author">
                    <form action="/i18n/setlang/" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <select name="language" onchange="this.form.submit()">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local|capfirst }}
                            </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>  
    </body>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script>
        document.createElement('nav');
        document.createElement('header');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('hgroup');
    </script>
    {% block scripts %}{% endblock %}
</html>