{% extends "AppWeb/base.html" %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/slider.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
        <div class="bg titulo">
            <h1>{% trans 'Cliente' %}</h1>
        </div>  
        <div class="bg">                
            <div class="contenido client">
                <div class="container">
                    <div id="slider">
                        <div><img src="{{STATIC_URL}}img/Registro.png" /></a><p>{% trans 'RegistrateSencillo' %}</p></div>
                        <div><img src="{{STATIC_URL}}img/Mapa.png" /></a><p>{% trans 'ConfirmaPosicion' %}</p></div>
                        <div><img src="{{STATIC_URL}}img/Seleccion.png" /></a><p>{% trans 'SeleccionaTaxi' %}</p></div>
                        <div><img src="{{STATIC_URL}}img/Perfil.png" /></a><p>{% trans 'ModificaSencillo' %}</p></div>
                        <div><img src="{{STATIC_URL}}img/InformacionTaxista.png" /></a><p>{% trans 'ConsultaInfo' %}</p></div>
                    </div>
                </div>   
		    </div>
        </div>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/slider.js"></script>
{% endblock %}
