{% extends "AppWeb/base.html" %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/css-slider.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}      	
		<div class="bg titulo">
			<h1>Cliente</h1>
		</div>			
		<div class="bg">				
			<div class="contenido client">				
				 <div id="slider">
                    <input checked type="radio" name="slider" id="slide1" />
                    <input type="radio" name="slider" id="slide2" />
                    <input type="radio" name="slider" id="slide3" />
                    <input type="radio" name="slider" id="slide4" />
                    <input type="radio" name="slider" id="slide5" />
                    <div id="slides">
                        <div id="overflow">
                            <div class="inner">
                                <article>
                                    <div class="info">
                                        <p class="textoslider">Regístrate de una forma <br>sencilla</p>
                                    </div>
                                    <img src="{{STATIC_URL}}img/Registro.png" />
                                </article>
                                <article>
                                    <div class="info">
                                        <p class="textoslider">Confirma tu posición y el taxi<br> más cercano te recogerá <br>en breves minutos</p>
                                    </div>
                                    <img src="{{STATIC_URL}}img/Mapa.png" />
                                </article>
                                <article>
                                    <div class="info">
                                        <p class="textoslider">O si lo deseas, selecciona el<br> taxista que más se adecue a<br> tus necesidades</p>
                                    </div>
                                    <img src="{{STATIC_URL}}img/Seleccion.png" />
                                </article>
                                <article>
                                    <div class="info">
                                        <p class="textoslider">Modifica tus datos de perfil<br>fácilmente, Consulta los<br> trayectos realizados, elige<br> tu taxista favorito y mucho<br> mas...</p>
                                    </div>
                                    <img src="{{STATIC_URL}}img/Perfil.png" />
                                </article>
                                <article>
                                    <div class="info">
                                        <p class="textoslider">Consulta la información del<br>taxista</p>
                                    </div>
                                    <img src="{{STATIC_URL}}img/InformacionTaxista.png" />
                                </article>
                            </div>
                        </div>
                    </div>
                    <div id="controls">
                        <label for="slide1"></label>
                        <label for="slide2"></label>
                        <label for="slide3"></label>
                        <label for="slide4"></label>
                        <label for="slide5"></label>
                    </div>
                    <div id="active">
                        <label for="slide1"></label>
                        <label for="slide2"></label>
                        <label for="slide3"></label>
                        <label for="slide4"></label>
                        <label for="slide5"></label>
                    </div>  
                </div>                  
			</div>
		</div>
{% endblock %}

{% block scripts %}
{% endblock %}