{% extends "AppWeb/base.html" %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/slider.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
        <div class="bg titulo">
            <h1>Cliente</h1>
        </div>  
        <div class="bg">                
            <div class="contenido client">
                <div class="container">
                    <div id="slider">
                        <div><img src="{{STATIC_URL}}img/Registro.png" /></a><p>Regístrate de una forma sencilla</p></div>
                        <div><img src="{{STATIC_URL}}img/Mapa.png" /></a><p>Confirma tu posición y el taxi más cercano te recogerá en breves minutos</p></div>
                        <div><img src="{{STATIC_URL}}img/Seleccion.png" /></a><p>O si lo deseas, selecciona el taxista que más se adecue a tus necesidades</p></div>
                        <div><img src="{{STATIC_URL}}img/Perfil.png" /></a><p>Modifica tus datos de perfil fácilmente, Consulta los trayectos realizados, elige tu taxista favorito y mucho mas...</p></div>
                        <div><img src="{{STATIC_URL}}img/InformacionTaxista.png" /></a><p>Consulta la información del taxista</p></div>
                    </div>
                </div>   
		    </div>
        </div>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/slider.js"></script>
{% endblock %}
