{% extends "AppWeb/base.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/slider.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %} 
        <div class="bg">
            <div class="emptyBox"></div>
            <div id="slideshow">
                <div id="slidesContainer">
                    <div class="slide">
                        <div class="boxI width35">
                            <h1>{% trans 'SlideD1' %}</h1>
                            <p>
                                {% trans 'SlideD2' %}
                            </p>
                        </div>
                        <div class="width5"></div>
                        <div class="boxD width60">
                            <img src="{{STATIC_URL}}img/slides/init_driver.png" alt="" />                            
                        </div>
                    </div>
                    <div class="slide">
                        <div class="boxI width50">
                            <h1>{% trans 'SlideD3' %}</h1>
                            <p>
                                {% trans 'SlideD4' %}
                            </p>
                        </div>
                        <div class="width10"></div>
                        <div class="boxD width40">
                            <img src="{{STATIC_URL}}img/slides/info_client.png" alt="" />                            
                        </div>
                    </div>
                    <div class="slide">
                        <div class="boxI width40">
                            <img src="{{STATIC_URL}}img/slides/pagos.png" alt="" />                            
                        </div>
                        <div class="width10"></div>
                        <div class="boxD width50">
                            <h1>{% trans 'SlideD5' %}</h1>
                            <p>
                                {% trans 'SlideD6' %}
                            </p>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="boxI width100">
                            <h1>{% trans 'SlideD7' %}</h1>
                            <p>
                                {% trans 'SlideD8' %}
                            </p>
                            <img src="{{STATIC_URL}}img/images/ipad.png" alt="" />                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxUp">
                <div class="boxI width30">
                    <img src="{{STATIC_URL}}img/images/android.png" alt="" />
                </div>
                <div class="width5"></div>
                <div class="boxD width65">
                    <h1>{% trans 'SlideD9' %}</h1>
                    <p>

                    {% trans 'SlideD10' %}

                    <br>
                    <br>

                    <a href="#"><img src="{{STATIC_URL}}img/ios.png" alt="" class="stores"/></a>
                    <a href="#"><img src="{{STATIC_URL}}img/play.png" alt="" class="stores"/></a>
                    </p>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/slider.js"></script>
{% endblock %}
