{% extends "AppWeb/base.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/slider.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %} 
        <div class="bg">
            <div class="emptyBox"></div>
            <div id="slideshow">
                <div id="slidesContainer">
                    <div class="slide">
                        <div class="boxI width35">
                            <h1>Reciba las solicitudes en tu móvil.</h1>
                            <p>
                                Taxi Express ofrecerá el servicio de su taxi a los clientes cercanos que lo necesiten.
                            </p>
                        </div>
                        <div class="width5"></div>
                        <div class="boxD width60">
                            <img src="{{STATIC_URL}}img/slides/init_driver.png" alt="" />                            
                        </div>
                    </div>
                    <div class="slide">
                        <div class="boxI width50">
                            <h1>Decida si quiere aceptar el viaje o no.</h1>
                            <p>
                                Se le mostrará una pantalla con la información personal y valoración del cliente que necesita el servicio. Podrá elegir si aceptar o rechazar la petición.
                            </p>
                        </div>
                        <div class="width10"></div>
                        <div class="boxD width40">
                            <img src="{{STATIC_URL}}img/slides/info_client.png" alt="" />                            
                        </div>
                    </div>
                    <div class="slide">
                        <div class="boxI width40">
                            <img src="{{STATIC_URL}}img/slides/pagos.png" alt="" />                            
                        </div>
                        <div class="width10"></div>
                        <div class="boxD width50">
                            <h1>Permita pagar a sus clientes a través de la propia app.</h1>
                            <p>
                                Podrá dar a sus clientes la posibilidad de pagar el servicio en mano o a través de la propia aplicación.
                            </p>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="boxI width100">
                            <h1>También disponible para tablets</h1>
                            <p>
                                La aplicación también está disponible para tablets. Descárguela ahora gratis desde su market.
                            </p>
                            <img src="{{STATIC_URL}}img/images/ipad.png" alt="" />                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="boxUp">
                <div class="boxI width30">
                    <img src="{{STATIC_URL}}img/images/android.png" alt="" />
                </div>
                <div class="width5"></div>
                <div class="boxD width65">
                    <h1>Descargar ahora, gratis</h1>
                    <p>

                    Taxi Express es una aplicación multiplataforma, es decir, se puede instalar en dispositivos con diferentes sistemas operativos. En estos momentos, está disponible tanto para dispositivos Android como para dispositivos IOS.

                    <br>
                    <br>

                    <a href="#"><img src="{{STATIC_URL}}img/ios.png" alt="" class="stores"/></a>
                    <a href="#"><img src="{{STATIC_URL}}img/play.png" alt="" class="stores"/></a>
                    </p>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/slider.js"></script>
{% endblock %}
