{% extends "AppWeb/base.html" %}

{% block head %}
 <link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/slider.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}    
		<div class="bg titulo">
			<h1>Taxista</h1>
		</div>			
		<div class="bg">				
            <div class="contenido driver">
                <div class="container">
                <div id="slider">
                    <div><img src="{{STATIC_URL}}img/RegistroT.png" /></a><p>Registrate de una forma sencilla</p></div>
                    <div><img src="{{STATIC_URL}}img/PerfilT.png" /></a><p>Modifica tus datos de perfil fácilmente</p></div>
                    <div><img src="{{STATIC_URL}}img/AceptarRechazar.png" /></a><p>Acepta o rechaza un servicio con un solo click</p></div>
                    <div><img src="{{STATIC_URL}}img/Configuracion.png" /></a><p>Configura tu movil</p></div>
                </div>
            </div>
		</div>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/slider.js"></script>
{% endblock %}