{% extends "AppWeb/base.html" %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/css-slider.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
		<div class="bg titulo">
			<h1>Taxista</h1>
		</div>			
		<div class="bg">				
            <div class="contenido driver">
                <div class="container">
                    <div id="slider">
                        <input checked type="radio" name="slider" id="slide1" />
                        <input type="radio" name="slider" id="slide2" />
                        <input type="radio" name="slider" id="slide3" />
                        <input type="radio" name="slider" id="slide4" />
                        <input type="radio" name="slider" id="slide5" />
                        <input type="radio" name="slider" id="slide6" />
                        <div id="slides">
                            <div id="overflow">
                                <div class="inner">
                                    <article>
                                        <div class="info">
                                            <p class="textoslider">Registrate de una forma <br>sencilla</p>
                                        </div>
                                        <img src="{{STATIC_URL}}img/RegistroT.png" />
                                    </article>
                                    <article>
                                        <div class="info">
                                            <p class="textoslider">Modifica tus datos de perfil<br>facilmente</p>
                                        </div>
                                        <img src="{{STATIC_URL}}img/PerfilT.png" />
                                    </article>
                                    <article>
                                        <div class="info">
                                            <p class="textoslider">Acepta o rechaza un servicio<br>con un solo click</p>
                                        </div>
                                        <img src="{{STATIC_URL}}img/AceptarRechazar.png" />
                                    </article>
                                    <article>
                                        <div class="info">
                                            <p class="textoslider">Configura tu movil</p>
                                        </div>
                                        <img src="{{STATIC_URL}}img/Configuracion.png" />
                                    </article>
                                    <article>
                                        <div class="info">
                                            <p class="textoslider"></p>
                                        </div>
                                        <img src="" />
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div id="controls">
                            <label for="slide1"></label>
                            <label for="slide2"></label>
                            <label for="slide3"></label>
                            <label for="slide4"></label>
                            <label for="slide5"></label>
                        </div>
                        <div id="active">
                            <label for="slide1"></label>
                            <label for="slide2"></label>
                            <label for="slide3"></label>
                            <label for="slide4"></label>
                            <label for="slide5"></label>
                        </div>
                    </div>
                </div>
            </div>
		</div>
{% endblock %}

{% block scripts %}
{% endblock %}