{% extends "AppWeb/base.html" %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/accordion.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}  
		<div class="bg titulo">
			<h1>{% trans 'PregFrecuentes' %}</h1>
		</div>			
		<div class="bg">				
			<div class="contenido faq">				
				<div class="accordion first" id="elemento1">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'ComoRegistrarme' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p>{% trans 'SoloUsuYPass' %}</p>
		        	</div>
	        	</div>
	        	<div class="accordion" id="elemento2">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PregElegirTaxi' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p>{% trans 'CondicionesTaxi' %}</p>
		        	</div>
	        	</div>
	        	<div class="accordion" id="elemento3">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PregElegirTaxi' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p>{% trans 'CondicionesTaxi' %}</p>
		        	</div>
	        	</div> 
			</div>
		</div>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/accordion.js"></script>
{% endblock %}