{% extends "AppWeb/base.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/accordion.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}  
		<div class="bg titulo">
			<h1>{% trans 'PregFrecuentes' %}</h1>
		</div>			
		<div class="bg">				
			<div class="contenido faq">				
				<h2>{% trans 'General' %}</h2>
				<div class="accordion first" id="elemento1">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PSistemaOperativo' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p class="RFaq">{% trans 'RSistemaOperativo' %}</p>
		        	</div>
	        	</div>
	        	<div class="accordion" id="elemento2">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PCoste' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p class="RFaq">{% trans 'RCoste' %}</p>
		        	</div>
	        	</div>
	        	<div class="accordion" id="elemento3">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PDonde' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p class="RFaq">{% trans 'RDonde' %}</p>
		        	</div>
	        	</div> 
	        	<h2>{% trans 'AsiFunciona' %}</h2>
	        	<div class="accordion" id="elemento4">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PCondiciones' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p class="RFaq">{% trans 'RCondiciones' %}</p>
		        	</div>
	        	</div> 
	        	<div class="accordion" id="elemento5">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PCerrarApp' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p class="RFaq">{% trans 'RCerrarApp' %}</p>
		        	</div>
	        	</div>
	        	<div class="accordion" id="elemento6">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PCancelar' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p class="RFaq">{% trans 'RCancelar' %}</p>
		        	</div>
	        	</div>
	        	<div class="accordion" id="elemento7">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PPuntuar' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p class="RFaq">{% trans 'RPuntuar' %}</p>
		        	</div>
	        	</div>
	        	<div class="accordion" id="elemento8">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PVariosTaxis' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p class="RFaq">{% trans 'RVariosTaxis' %}</p>
		        	</div>
	        	</div>
	        	<h2>{% trans 'Privacidad' %}</h2>
	        	<div class="accordion" id="elemento9">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PRegistro' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p class="RFaq">{% trans 'RRegistro' %}</p>
		        	</div>
	        	</div>
	        	<div class="accordion" id="elemento10">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PTelefono' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p class="RFaq">{% trans 'RTelefono' %}</p>
		        	</div>
	        	</div>
	        	<h2>{% trans 'Ayuda' %}</h2>
	        	<div class="accordion" id="elemento11">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PNoAbre' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p class="RFaq">{% trans 'RNoAbre' %}</p>
		        	</div>
	        	</div>
	        	<div class="accordion" id="elemento12">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PActualizar' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		
		        		<p class="RFaq">{% trans 'RActualizar' %}</p>
		        	</div>
	        	</div>
	        	<div class="accordion" id="elemento13">
		        	<div class="titleAccordion">
		        		<strong>{% trans 'PContacto' %}</strong>
		        	</div>
		        	<div class="textAccordion">
		        		<p class="RFaq">{% trans 'RContacto1' %}<a href="contacto.html">{% trans 'RContacto2' %}</a>.</p>
		        	</div>
	        	</div>
			</div>
		</div>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/accordion.js"></script>
{% endblock %}