{% load i18n %}
<!DOCTYPE html>
<html lang="es">
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>TaxiExpress</title>
        <meta name="description" content="TaxiExpress Website">
        <meta name="author" content="Made by DESSI02">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
        <link href="{{STATIC_URL}}css/login.css" rel="stylesheet" type="text/css">
        <link href="{{STATIC_URL}}css/validationwindow.css" rel="stylesheet" type="text/css">
    </head>
    <body>      
        <div class="header-index">
            <div class="bg">
                <div class="logo2 h-left"> 
                    <a href="/"><img src="{{STATIC_URL}}img/logo.png" alt="Logo" /></a>
                </div>
                <div class="login h-right">
				
                    <form id="login-form" action="" method="POST">
                        {% csrf_token %}
                        <fieldset class="fms-block">
                            <ul>
                                <li class="placeholder">
                                    <span class="textfield">
                                        <input type="email" id="email" name="email" required value="{{request.POST.email}}" placeholder="Email" tabindex="1">
                                    </span>                                    
                                    <input class="tipo" id="tipo" type="radio" name="tipo" length=2 value="C" tabindex="3"
                                    {% if tipo != "D" %}
                                        checked = "checked"
                                    {% endif %}
                                    >
                                    <span class="typeLabel">{% trans 'Cliente' %}</span>
                                    <input class="tipo" type="radio" name="tipo" length=2 value="D" tabindex="4"
                                    {% if tipo == "D" %}
                                        checked = "checked"
                                    {% endif %}
                                    >
                                    <span class="typeLabel">{% trans 'Taxista' %}</span>
                                </li>
                                <li class="placeholder">
                                    <span class="textfield">
                                        <input type="password" id="password" name="password" required placeholder ="Contraseña" value = "{{request.POST.password}}" tabindex="2">
                                    </span>
                                    <p class="forgotpass h-stext h-center">
                                        <a class="forgotpassword" tabindex="5" href="rememberpassword.html" title="¿Has olvidado tu contraseña?">{% trans 'ContraseñaOlvidada' %}</a>
                                    </p>
                                </li>
                                <li class="cf">
                                    <button id="submit_button" tabindex="6" type="submit" class="btn">»</button>
                                </li>
                            </ul>
                            <p class="h-left error ff-txt-error">{{error}}</p>                       
                        </fieldset>
                    </form>
                </div>
            </div>
        </div> 
        <div class="slogan-header">
            <div class="bg ">
                <div class="slogan">
                    <div class="h-right">
                        <img src="{{STATIC_URL}}img/inicio.png" class="phone" alt="Teléfono" />
                    </div>
                    <div class="text-index h-left">
                        <h1>{% trans 'PideTaxi' %}</h1>
                        <br/>
                        <a href="https://itunes.apple.com/es/app/selfiecam!/id761439919?mt=8"><img src="{{STATIC_URL}}img/ios.png" alt="" /></a>
                        <a href="https://play.google.com/store?hl=es"><img src="{{STATIC_URL}}img/play.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>  
        <br/>
        <div class="bg">
            <div class="text-index left75 registerDiv">
                <strong>{%trans 'NoCuenta' %} <a href="register.html">{%trans 'NoCuenta2' %}</a></strong>
                <small>{% trans 'Version' %}</small>
            </div>
            <div class="right25">
                <img src="{{STATIC_URL}}img/icon.png" class="icon" alt="Teléfono" />
            </div>
        </div>
        <div class="bg cuadro">
            <div class="imagenI">
                <img src="{{STATIC_URL}}img/doubleScreen.png" alt="" />  
            </div>  
            <div class="textoD">
                <ul>
                    <h3>{% trans 'Opciones' %}</h3>
                    - {% trans 'Opcion1' %}<br/>
                    - {% trans 'Opcion2' %}<br/>
                    - {% trans 'Opcion3' %}<br/>
                    - {% trans 'Opcion4' %}<br/>
                    - {% trans 'Opcion5' %}<br/>
                    - {% trans 'Opcion6' %}<br/>
                </ul>
                <a href="client.html">{% trans 'MasCaracteristicas' %}</a><br/>
                <a href="driver.html">{% trans 'SiEresTaxista' %}</a>
            </div>          
        </div>
        <div class="bg">
            <div class="titulo">
                <h1>{% trans 'DescApp' %}</h1>
                <h3>{% trans 'DescApp2' %}</h3>
            </div>      
            <div class="articles">
                <article>
                    <img src="{{STATIC_URL}}img/icon/design.png" alt="" />
                    <h1>{% trans 'DiseñoInt' %}</h1>
                    <p>{% trans 'DiseñoInt2' %}</p>
                </article>
                <article>
                    <img src="{{STATIC_URL}}img/icon/marker.png" alt="" />
                    <h1>{% trans 'Geolocalizacion' %}</h1>
                    <p>{% trans 'Geolocalizacion2' %}</p>
                </article>
                <article class="last">
                    <img src="{{STATIC_URL}}img/icon/payment.png" alt="" />
                    <h1>{% trans 'PagosViaApp' %}</h1>
                    <p>{% trans 'PagosViaApp2' %}</p>
                </article>
            </div>
            <div class="articles">
                <article>
                    <img src="{{STATIC_URL}}img/icon/computer.png" alt="" />
                    <h1>{% trans 'GestionWeb' %}</h1>
                    <p>{% trans 'GestionWeb2' %}</p>
                </article>
                <article class="last">
                    <img src="{{STATIC_URL}}img/icon/statistics.png" alt="" />
                    <h1>{%trans 'Estadisticas' %}</h1>
                    <p>{%trans 'Estadisticas2' %}</p>
                </article>
            </div>
        </div>
        <div class="bg">
            <div class="footer clear">
                <div class="navigation">
                    <ul>
                        <li><a href="faq.html">F.A.Q.</a></li>
                        <li><a href="contact.html">{% trans 'Contacto' %}</a></li>
                        <li><a href="map.html">{% trans 'MapaWeb' %}</a></li>
                        <li><a href="termsofuse.html">{% trans 'TerminosUso' %}</a></li>
                        <li class="laster"><a href="legalnotice.html">{% trans 'AvisoLegal' %}</a></li>
                    </ul>
                </div>
                <div class="author">
                    <form action="/i18n/setlang/" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <select name="language" onchange="this.form.submit()">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local|capfirst  }}
                            </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div> 
        </div>   
        <div class="overlay-container"> 
            <div class="window-container zoomin">
                <form id="validation-form"> 
                    {% csrf_token %}
                    <h3>{% trans 'ValidacionCuenta' %}</h3>
                    <span class="popupText">{% trans 'TfnoYCodigoSMS' %}<br/>
                        <input type="tel" id="phone" name="phone" maxlength="12" required  placeholder="Teléfono" tabindex="7">
                        <input type="text" id="validationCode" name="validationCode" maxlength="4" required value placeholder="Codigo" tabindex="8">
                        <p class="h-left error ff-txt-error"></p><br/>                        
                        <input type="button" value="Volver a solicitar código de validación >>" class="validationRefIndex validation"/>   
                    </span>
                    <input type="button" value= "Aceptar" class="aceptIndex" tabindex="9"/>  
                    <input type="button" value= "Cancelar" class="close" tabindex="10"/>   
                </form>
            </div>
        </div> 
    </body>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/validationcode.js"></script>
    <script defer type="text/javascript" src="{{STATIC_URL}}js/validationFields.js"></script>
    <script>
        function showValidationCodeWindow()
        {
            {% if status == 400 %}
                $('.overlay-container').fadeIn(function() {
                    window.setTimeout(function(){
                        $('.window-container.zoomin').addClass('window-container-visible');
                    }, 100);
                });
            {% endif %}
        }
       window.onload=showValidationCodeWindow;
    </script>
    <script>
        document.createElement('nav');
        document.createElement('header');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('hgroup');
    </script>
</html>
