<!DOCTYPE html>
<script>
    document.createElement('nav');
    /* left part is not needed for your situation but an example for you */
    document.createElement('header');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
    document.createElement('hgroup');
</script>
<html lang="es">
<head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>TaxiExpress</title>
        <meta name="description" content="TaxiExpress Website">
        <meta name="author" content="Made by DESSI02">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">

    </head>
    <body>		
        <div class="header">
            <div class="bg">
                <div class="logo"> 
                    <a href="/"><img src="{{STATIC_URL}}img/logo.png" alt="Logo" /></a>
                </div>
            </div>
        </div> 	
		<div class="bg titulo">
			<h1>Aviso Legal</h1>
		</div>			
		<div class="bg">				
			<div class="contenido">				
				<p>
                TAXIEXPRESS, como responsable de ficheros de los que es propietaria, se compromete a respetar la confidencialidad de la información de carácter personal de sus clientes guardando en todo momento el deber de secreto profesional.
                </p>
                <p>
                TAXIEXPRESS le informa que se encuentra adaptada a la Ley Orgánica 15/1.999, de Protección de Datos de Carácter Personal, y el Real Decreto 1720/2007 por el que se aprueba el Reglamento de desarrollo de la L.O.P.D., que sus ficheros con datos personales han sido debidamente inscritos en la Agencia Española de Protección de Datos y que cumple con el resto de las obligaciones establecidas en la normativa sobre protección de datos para garantizar la confidencialidad y seguridad de la información de que dispone.
                </p>
                <p>
                Los datos personales proporcionados en ningún caso serán cedidos a terceros salvo previo consentimiento de los interesados.
                </p>
                <p>
                Por todo ello, TAXIEXPRESS, ha adoptado los niveles de seguridad de protección de datos personales legalmente requeridos, y ha instalado todos los medios y medidas técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos que le han sido confiados.
                </p>
                <p>
                Los titulares de los datos tienen reconocidos y podrán ejercitar los derechos de acceso, cancelación rectificación y oposición, contactando con:
                </p>
                <p>
                TAXIEXPRESS S.L.
                <br>
                CIF B99999999
                <br>
                Domicilio social: Avenida de las Universidades 24, 48007 Bilbao.
                <br>
                Teléfono: 949 999 999
                <br>
                E-mail: <a href="mailto:dessiproject@googlegroups.com">dessiproject@googlegroups.com</a>
                <br>
                Web: <a href="http://www.taxiexpress.com">www.taxiexpress.com</a>
                <br>
                </p>
                <p>
                Para la utilización de nuestro sitio web es necesaria la utilización de cookies. Las cookies se utilizan con las finalidades descritas en el tercer párrafo de este documento. Si usted lo desea puede configurar su navegador para ser avisado en pantalla de la recepción de cookies y para impedir la instalación de cookies en su disco duro. Por favor, consulte las instrucciones y manuales de su navegador para ampliar esta información.
                </p>
			</div>
		</div>
        <div class="bg">
            <div class="footer clear">
                <div class="navigation">
                    <ul>
                        <li><a href="faq.html">F.A.Q.</a></li>
                        <li><a href="map.html">Mapa Web</a></li>
                        <li><a href="termsofuse.html">Términos de uso</a></li>
                        <li class="laster"><a href="legalnotice.html">Aviso Legal</a></li>
                    </ul>
                </div>
                <div class="author">Copyright © 2014, DESSI - Deusto</div>
            </div> 
        </div>  	
    </body>
</html>


