{% extends "AppWeb/base.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
		<div class="bg titulo">
			<h1>{% trans 'AvisoLegal'%}</h1>
		</div>			
		<div class="bg">				
			<div class="contenido">				
				<p>
                {% trans 'LegalNotice1' %}
                </p>
                <p>
                {% trans 'LegalNotice2' %}
                </p>
                <p>
                {% trans 'LegalNotice3' %}
                </p>
                <p>
                {% trans 'LegalNotice4' %}
                </p>
                <p>
                {% trans 'LegalNotice5' %}
                </p>
                <p>
                TAXIEXPRESS S.L.
                <br>
                CIF B99999999
                <br>
                {% trans 'LegalNotice7' %} Avenida de las Universidades 24, 48007 Bilbao.
                <br>
                {% trans 'LegalNotice8' %} 949 999 999
                <br>
                E-mail: <a href="mailto:MyTaxiExpress@gmail.com">MyTaxiExpress@gmail.com</a>
                <br>
                Web: <a href="http://www.taxiexpress.tk">www.taxiexpress.tk</a>
                <br>
                </p>
                <p>
				{% trans 'LegalNotice6' %}
                </p>
			</div>
		</div>        
{% endblock %}

{% block scripts %}
{% endblock %}