{% extends "AppWeb/base2.html" %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/maintenance.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/closesession.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<!--        <div class="bg titulo">
            <h1>Registrate y empieza a viajar!</h1>
        </div> -->          
        <div class="bg">                
            <div class="contenido">
                <aside id="sidebar" class="span2">
                    <div class="tabs">
                        <ul class="menu nav">
                            <li class="first" ><a href="mantdriver_data.html">Perfil de usuario</a></li>
                            <li><a href="mantdriver_changePassword.html">Modificar Contraseña</a></li>
                            <li><a href="mantdriver_car.html" class="active">Datos del vehículo</a></li>
                            <li><a href="mantdriver_bankAccount.html">Datos bancarios</a></li>
                        </ul>
                    </div>
                </aside>
                 <div class="span10">
                    <form name="mantdriver" id="mantdriver" action="" method="POST">                      
                        {% csrf_token %}
                        <div class="col1 maintenance">
                            <input type="text" name="plate" maxlength="7" placeholder="Matrícula" required value="{{car.plate}}">

                            <input type="text" name="model" maxlength="80" placeholder="Modelo" required value="{{car.model}}">

                            <input type="text" name="company" maxlength="80" placeholder="Marca" 
                                value="{{car.company}}">

                            <input type="text" name="color" maxlength="80" placeholder="Color" value="{{car.color}}">

                            <input type="number" name="capacity" placeholder="Capacidad" required value="{{car.capacity}}">

                            <br>
                            <p>
                                {% if car.accessible %}
                                    <input type="checkbox" name="accessible" checked>Taxi habilitado para minusválidos
                                {% else %}
                                    <input type="checkbox" name="accessible">Taxi habilitado para minusválidos
                                {% endif %}

                                </br>
                                {% if car.animals %}
                                    <input type="checkbox" name="animals" checked>Se admiten animales
                                {% else %}
                                    <input type="checkbox" name="animals">Se admiten animales
                                {% endif %}
                            </p>
                        </div>
                        <p class="registerError">{{error}}</p>
                        <div class="clr"><button class="btn" type="submit">Actualizar</button></div>
                    </form> 
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}