{% extends "AppWeb/base2.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/maintenance.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/closesession.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}      
        <div class="bg">                
            <div class="contenido">
                <aside id="sidebar" class="span2">
                    <div class="tabs">
                        <ul class="menu nav">
                            <li class="first" ><a href="mantdriver_data.html">{% trans 'PerfilUsuario' %}</a></li>
                            <li><a href="mantdriver_changepassword.html">{% trans 'ModificarContraseña' %}</a></li>
                            <li><a href="mantdriver_car.html">{% trans 'DatosVehiculo' %}</a></li>
                            <li><a href="mantdriver_bankaccount.html" class="active">{% trans 'DatosBancarios' %}</a></li>
                            <li><a href="mantdriver_travelgraphic.html">{% trans 'TitGraficos' %}</a></li>
                            <li><a href="mantdriver_travels.html">{% trans 'Viajes' %}</a></li>
                        </ul>
                    </div>
                </aside>
                <div class="span10">
                    <h3 class="MaintenanceHeader">{% trans 'TitDatosBancarios' %}</h3>
                    <span>{% trans 'intro_mant_bank' %}</span>
                    <form name="mantdriver" id="mantdriver" action="" method="POST" onsubmit="return validateAccount();">                      
                        {% csrf_token %}
                        <div class="col1 maintenance">
                            <p>
                                {% if car.appPayment %}
                                    <input type="checkbox" name="appPayment" checked>{% trans 'SeAdmitePago' %}
                                {% else %}
                                    <input type="checkbox" name="appPayment">{% trans 'SeAdmitePago' %}
                                {% endif %}
                            </p>
                            {% if car.appPayment %}
                                <input type="text" name="bankAccount" maxlength="20" pattern=".{20,}" placeholder="{% trans 'NúmeroCuenta' %}" value="{{driver.bankAccount}}"><span class="accountError hidefieldError">*</span>
                                <input type="text" name="recipientName" maxlength="80" pattern=".{5,}" placeholder="{% trans 'Titular' %}" value="{{driver.recipientName}}"><span class="accountError hidefieldError">*</span>
                            {% else %}
                                <input type="text" name="bankAccount" maxlength="20" pattern=".{20,}" placeholder="{% trans 'NúmeroCuenta' %}" value="{{driver.bankAccount}}" disabled><span class="accountError hidefieldError">*</span>
                                <input type="text" name="recipientName" maxlength="80" pattern=".{5,}" placeholder="{% trans 'Titular' %}" value="{{driver.recipientName}}" disabled><span class="accountError hidefieldError">*</span>
                            {% endif %}
                        </div>
                        <p class="registerError">{{error}}</p>
                        <div class="clr"><button class="btn" type="submit">{% trans 'GrabDatosBanc' %}</button></div>
                    </form> 
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}js/appPaymentCheck.js"></script>
    <script type="text/javascript">
        function validateAccount(){
            $('#mantdriver .accountError').removeClass('showfieldError');
            $('#mantdriver .accountError').addClass('hidefieldError');   
            var errorString = ''; 
            var result = true ; 
            //If the value of AppPayment is 'Si' the value of 'bankAccount' and 'recipientName'  must be set
            if($("input[name=appPayment]").is(':checked')) { 
                if ($('input[name=bankAccount]').val() == '' || $('input[name=recipientName]').val() == ''){
                    errorString = 'Debe introducir Número de cuenta bancaria y Titular de la cuenta';
                    
                    $('#mantdriver .accountError').addClass('showfieldError');
                    $('#mantdriver .accountError').removeClass('hidefieldError');    
                    result = false;
                }
            } 
            if (result == false) {
                $('#mantdriver .registerError').html(errorString); 
            }
            else{
                $('#mantdriver .registerError').html(''); 
            }
            return result;
        };
    </script>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
