{% extends "AppWeb/base2.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/maintenance.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/closesession.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
        <div class="bg">                
            <div class="contenido">
                <aside id="sidebar" class="span2">
                    <div class="tabs">
                        <ul class="menu nav">
                            <li class="first" ><a href="mantdriver_data.html" class="active">{% trans 'PerfilUsuario' %}</a></li>
                            <li><a href="mantdriver_changepassword.html">{% trans 'ModificarContraseña' %}</a></li>
                            <li><a href="mantdriver_car.html">{% trans 'DatosVehiculo' %}</a></li>
                            <li><a href="mantdriver_bankaccount.html">{% trans 'DatosBancarios' %}</a></li>
                            <li><a href="mantdriver_travelgraphic.html">{% trans 'TitGraficos' %}</a></li>
                            <li><a href="mantdriver_travels.html">{% trans 'Viajes' %}</a></li>
                        </ul>
                    </div>
                </aside>
                <div class="span10">
                    <h3 class="MaintenanceHeader">{% trans 'TitDatosPersonales' %}</h3>
                    <form name="mantdriver" id="mantdriver" action="" method="POST">                      
                        {% csrf_token %}
                        <div class="pic">
                            {% if driver.image == "" %}
                                <img id="foto" name="foto" src="{{STATIC_URL}}img/user.png" alt="no hay foto" onclick="file_input.click();"/>
                                <input type="hidden" name="image" id="URLdelafoto" value="">
                            {% else %}
                                <img id="foto" name="foto" src="{{driver.image}}" alt="no hay foto" onclick="file_input.click();"/>
                                <input type="hidden" name="image" id="URLdelafoto" value="{{driver.image}}">
                            {% endif %}
                            <input name="file_input" onchange="javascript:drawImageOnCanvas();" type="file" accept="image/gif, image/jpeg, image/png" id="archivo" class="photo" style="display:none;" />
                        </div>
                        <input type="hidden" name="id" value={{driver.id}}>
                        <div class="col1 maintenance">
                            <input type="text" name="first_name" maxlength="80" placeholder={% trans 'Nombre' %} required value="{{driver.first_name}}">

                            <input type="text" name="last_name" maxlength="80" placeholder={% trans 'Apellido' %} required value="{{driver.last_name}}">
                            
                            <input type="number" name="license" placeholder={% trans 'NúmeroLicencia' %} required value="{{driver.license}}" min="0">

                            <input type="email" name="email" maxlength="80" placeholder={% trans 'Email' %} required disabled value="{{driver.email}}">

                            <input type="tel" name="phone" maxlength="80" placeholder={% trans 'Teléfono' %} required disabled value="{{driver.phone|cut:"+34"}}">
                                               
                        </div>
                        <div class="col2 maintenance">
                            <input type="hidden" value="{{country}}" class="idCountry">
                            <input type="hidden" value="{{state}}" class="idState">
                            <input type="hidden" value="{{city}}" class="idCity">
                            <div class="lblcountry"><label>{% trans 'Pais' %}</label></div>
                            <div class="cbocountry">
                                <select id = "country" name="country" class="selcity">
                                    {% if driver.countries|length > 0 %}
                                        <option value= "0">{% trans 'SelPais' %}</option>
                                        {% for icountry in driver.countries %}
                                            <option value= "{{icountry.code}}"
                                            {% if icountry.code == country %}
                                                selected
                                            {% endif %}
                                            >{{icountry.name}}</option>
                                        {% endfor %}  
                                    {% endif %}  
                                </select>
                            </div>
                       
                            <div class="lblstate"><label>{% trans 'Provincia' %}</label></div>
                            <div class="cbostate">
                                <select id = "state" name="state" class="selcity">
                                    {% if driver.states|length > 0 %}
                                        <option value= "0">{% trans 'SelProv' %}</option>
                                        {% for istate in driver.states %}
                                            <option value= "{{istate.id}}"
                                            {% if istate.id == state %}
                                                selected
                                            {% endif %}
                                            >{{istate.name}}</option>
                                        {% endfor %}  
                                    {% endif %} 
                                </select>
                            </div>
                        
                            <div class="lblcity"><label>{% trans 'Municipio' %}</label></div>
                            <div class="cbocity">
                                <select id = "city" name="city" class="selcity">
                                    {% if driver.cities|length > 0 %}
                                        <option value= "0">{% trans 'SelMun' %}</option>
                                        {% for icity in driver.cities %}
                                            <option value= "{{icity.id}}"
                                            {% if icity.id == city %}
                                                selected
                                            {% endif %}
                                            >{{icity.name}}</option>
                                        {% endfor %}  
                                    {% endif %}  
                                </select>
                            </div>
                            
                            <input type="text" name="address" maxlength="80" placeholder={% trans 'Dirección' %} value="{{driver.address}}">

                            <input type="text" name="postcode" maxlength="5" placeholder={% trans 'CódigoPostal' %} value="{{driver.postcode}}">

                        </div>
                        <p class="registerError">{{error}}</p>
                        <div class="clr"><button class="btn" type="submit">{% trans 'GrabPerfil' %}</button></div>
                    </form> 
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/loadpotho.js"></script>
<script type="text/javascript">
    $('.cbocountry').change(function() {
        posicion=document.getElementById('country').options.selectedIndex; 
        codCountry=document.getElementById('country').options[posicion].value;
        if (codCountry != "0"){
            //Llamada al servidor para recuperar las provincias del pais seleccionado
            $.ajax({
            type: "GET",
            url: "/getstates/",
            data:{country: codCountry},
            success: function(result) {
                if (result.length != 0){
                    options = "<option value='" + "0" + "'>" + "{% trans 'SelProv' %}" + "</option>";
                }
                else{
                    options = "";
                    $('#state').html("");
                    $('#city').html("")
                }
                for (i = 0, len = result.length; i < len; i++) {
                    state = result[i];
                    options += "<option value='" + state.id + "'>" + state.name + "</option>";
                } 
                $('#state').html(options);
            },
            error: function(xhr, textStatus, errorThrown) {
                alert("Please report this error: " + errorThrown + xhr.status + xhr.responseText);
            }
        });
        }
        else{
            $('#state').html("");
            $('#city').html("")
        }
    });

    $('.cbostate').change(function() {
        posicion=document.getElementById('state').options.selectedIndex; 
        codState=document.getElementById('state').options[posicion].value;
        if (codState != "0"){
            //Llamada al servidor para recuperar los municipio de la provincia seleccionada
            $.ajax({
                type: "GET",
                url: "/getcities/",
                data:{state: codState},
                success: function(result) {
                    if (result.length != 0){
                       options = "<option value='" + "0" + "'>" + "{% trans 'SelMun' %}" + "</option>";
                    }
                    else{
                        options = "";
                        $('#city').html("")
                    }
                    for (i = 0, len = result.length; i < len; i++) {
                        city = result[i];
                        options += "<option value='" + city.id + "'>" + city.name + "</option>";
                    } 
                    $('#city').html(options);
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert("Please report this error: " + errorThrown + xhr.status + xhr.responseText);
                }
            });
        }
        else{
            $('#city').html("")
        }
    });
</script>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
