{% extends "AppWeb/base2.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/maintenance.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/closesession.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}     
        <div class="bg">                
            <div class="contenido">
                <aside id="sidebar" class="span2">
                    <div class="tabs">
                        <ul class="menu nav">
                            <li class="first" ><a href="mantdriver_data.html">{% trans 'PerfilUsuario' %}</a></li>
                            <li><a href="mantdriver_changepassword.html">{% trans 'ModificarContraseña' %}</a></li>
                            <li><a href="mantdriver_car.html">{% trans 'DatosVehiculo' %}</a></li>
                            <li><a href="mantdriver_bankaccount.html">{% trans 'DatosBancarios' %}</a></li>
                            <li><a href="mantdriver_travelgraphic.html" class="active">{% trans 'TitGraficos' %}</a></li>
                            <li><a href="mantdriver_travels.html">{% trans 'Viajes' %}</a></li>
                        </ul>
                    </div>
                </aside>

                 <div class="span10">
                    <h3 class="MaintenanceHeader">{% trans 'TitGraficos' %}</h3>
                    <div class=" maintenance">                            
                        <span>{% trans 'UltimoMes' %}</span>
                        <canvas id="travelsLastMonth" height="300" width="750"  ></canvas>
                        <span>{% trans 'UltimoAno' %}</span>
                        <canvas id="travelsLastYear" height="300" width="750"  ></canvas>
                        <span>{% trans 'HistMes' %}</span>
                        <canvas id="travelsByMonth" height="300" width="750"  ></canvas>
                        <span>{% trans 'HistDias' %}</span>
						<canvas id="travelsByDay" height="300" width="750"  ></canvas>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script defer type="text/javascript" src="{{STATIC_URL}}js/chart.js"></script>
    <script defer type="text/javascript" src="{{STATIC_URL}}js/graphic.js"></script>
	
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
