{% extends "AppWeb/base2.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/maintenance.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/closesession.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}        
        <div class="bg">                
            <div class="contenido">
                <aside id="sidebar" class="span2">
                    <div class="tabs">
                        <ul class="menu nav">
                            <li class="first" ><a href="mantclient_data.html">{% trans 'PerfilUsuario' %}</a></li>
                            <li><a href="mantclient_changepassword.html" class="active">{% trans 'ModificarContraseña' %}</a></li>
                            <li><a href="mantclient_preferences.html">{% trans 'PrefBusqueda' %}</a></li>
                            <li><a href="mantclient_travels.html">{% trans 'Viajes' %}</a></li>
                        </ul>
                    </div>
                </aside>
                 <div class="span10">
                    <h3 class="MaintenanceHeader">{% trans 'TitCambiarContraseña' %}</h3>
                    <span>{% trans 'intro_mant_pass' %}</span>
                    <form name="mantclient" id="mantclient" action="" method="POST" onsubmit="return validateClientPassword();">
                        {% csrf_token %}
                        <div class="col1 maintenance">
                            <input type="hidden" name="email" value="{{client.email}}">
                            <input type="password" id="oldPassAux" name="oldPassAux" maxlength="80" placeholder="{% trans 'ContraseñaActual' %}" required>
                            <input type="hidden" id="oldPass" name="oldPass">
                            <input type="password" id="newPassAux" name="newPassAux" maxlength="80" placeholder="{% trans 'ContraseñaNueva' %}" required><span class="passwordError hidefieldError">*</span> 
                            <input type="hidden" id="newPass" name="newPass">
                            <input type="password" name="newPass2" maxlength="80" placeholder="{% trans 'ConfirmeContraseña' %}" required><span class="passwordError hidefieldError">*</span> 
                        </div>
                        <p class="registerError">{{error}}</p>
                        <div class="clr"><button class="btn" type="submit">{% trans 'GrabPassword' %}</button></div>
                    </form> 

                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script defer type="text/javascript" src="{{STATIC_URL}}js/validationChangePassword.js"></script>
    <script defer type="text/javascript" src="{{STATIC_URL}}js/sha256.js"></script>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
