{% extends "AppWeb/base2.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/maintenance.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/closesession.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<!--        <div class="bg titulo">
            <h1>Registrate y empieza a viajar!</h1>
        </div> -->          
        <div class="bg">                
            <div class="contenido">
                <aside id="sidebar" class="span2">
                    <div class="tabs">
                        <ul class="menu nav">
                            <li class="first" ><a href="mantclient_data.html" class="active">{% trans 'PerfilUsuario' %}</a></li>
                            <li><a href="mantclient_changepassword.html">{% trans 'ModificarContraseña' %}</a></li>
                            <li><a href="mantclient_preferences.html">{% trans 'PrefBusqueda' %}</a></li>
                        </ul>
                    </div>
                </aside>
                <div class="span10">
                    <h3 class="MaintenanceHeader">{% trans 'TitDatosPersonales' %}</h3>
                    <form name="mantclient" id="mantclient" action="" method="POST">                      
                        {% csrf_token %}
                        <div class="pic">
                            {% if client.image == "" %}
                                <img id="foto" src="{{STATIC_URL}}img/user.png" alt="no hay foto"/>
                                <input type="hidden" name="image" id="URLdelafoto" value="">
                            {% else %}
                                <img id="foto" src="{{client.image}}" alt="no hay foto"/>
                                <input type="hidden" name="image" id="URLdelafoto" value="{{client.image}}">
                            {% endif %}
                            <input onchange="javascript:drawImageOnCanvas();" type="file" accept="image/gif, image/jpeg, image/png" id="archivo" class="photo"/>
                        </div>
                        <input type="hidden" name="id" value="{{client.id}}">
                        <div class="col1 maintenance">                        
                            <input type="text" name="first_name" maxlength="80" placeholder="Nombre" required value="{{client.first_name}}">

                            <input type="text" name="last_name" maxlength="80" placeholder="Apellido" required  value="{{client.last_name}}">

                            <input type="email" name="email" maxlength="80" placeholder="Email" required disabled value="{{client.email}}">

                            <input type="tel" name="phone" maxlength="80" placeholder="Teléfono" required disabled value="{{client.phone|cut:"+34"}}">
                           
                        </div>
                        <div class="col2 maintenance">
                            
                            <div class="lblcountry"><label>{% trans 'Pais' %}</label></div>
                            <div class="cbocountry">
                                <select id = "country" name="country" class="selcity"></select> 
                            </div>
                        
                            <div class="lblstate"><label>{% trans 'Provincia' %}</label></div>
                            <div class="cbostate">
                                <select id = "state" name="state" class="selcity"></select>
                            </div>
                        
                            <div class="lblcity"><label>{% trans 'Municipio' %}</label></div>
                            <div class="cbocity">
                                <select id = "city" name="city" class="selcity"></select> 
                            </div>
                            
                            <input type="text" name="postcode" maxlength="5" placeholder="Código Postal" value="{{client.postcode}}">

                        </div>
                        <p class="registerError">{{error}}</p>
                        <div class="clr"><button class="btn" type="submit">{% trans 'Actualizar' %}</button></div>
                    </form> 
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/loadpotho.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/combos.js"></script>

<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
