{% extends "AppWeb/base2.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/maintenance.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/closesession.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}       
        <div class="bg">                
            <div class="contenido">
                <aside id="sidebar" class="span2">
                    <div class="tabs">
                        <ul class="menu nav">
                            <li class="first" ><a href="mantdriver_data.html">{% trans 'PerfilUsuario' %}</a></li>
                            <li><a href="mantdriver_changepassword.html">{% trans 'ModificarContraseña' %}</a></li>
                            <li><a href="mantdriver_car.html" class="active">{% trans 'DatosVehiculo' %}</a></li>
                            <li><a href="mantdriver_bankaccount.html">{% trans 'DatosBancarios' %}</a></li>
                            <li><a href="mantdriver_travelgraphic.html">{% trans 'TitGraficos' %}</a></li>
                            <li><a href="mantdriver_travels.html">{% trans 'Viajes' %}</a></li>
                        </ul>
                    </div>
                </aside>
                 <div class="span10">
                    <h3 class="MaintenanceHeader">{% trans 'TitDatosCoche' %}</h3>
                    <span>{% trans 'intro_mant_car' %}</span>
                    <form name="mantdriver" id="mantdriver" action="" method="POST">                      
                        {% csrf_token %}
                        <div class="col1 maintenance">
                            <input type="text" name="company" maxlength="80" placeholder={% trans 'Marca' %} 
                                value="{{car.company}}">
                                
                            <input type="text" name="model" maxlength="80" placeholder={% trans 'Modelo' %} required value="{{car.model}}">
    
                            <input type="text" name="plate" maxlength="7" placeholder={% trans 'Matrícula' %} required value="{{car.plate}}">

                            <input type="text" name="color" maxlength="80" placeholder={% trans 'Color' %} value="{{car.color}}">
                            <label class="lblCapacidad">{% trans 'Capacidad' %}</label>
                            <select id="capacity" name="capacity">
                               <option value="1"
                               {% if car.capacity == 1 %}
                                    selected
                               {% endif %}
                               >1 {% trans 'plaza' %}</option>
                               <option value="2"
                               {% if car.capacity == 2 %}
                                    selected
                               {% endif %}
                               >2 {% trans 'plazas' %}</option>
                               <option value="3"
                               {% if car.capacity == 3 %}
                                    selected
                               {% endif %}
                               >3 {% trans 'plazas' %}</option>
                               <option value="4"
                               {% if car.capacity == 4 %}
                                    selected
                               {% endif %}
                               >4 {% trans 'plazas' %}</option>
                               <option value="5"
                               {% if car.capacity == 5 %}
                                    selected
                               {% endif %}
                               >5 {% trans 'plazas' %}</option>
                               <option value="6"
                               {% if car.capacity == 6 %}
                                    selected
                               {% endif %}
                               >6 {% trans 'plazas' %}</option>
                               <option value="7"
                               {% if car.capacity == 7 %}
                                    selected
                               {% endif %}
                               >7 {% trans 'plazas' %}</option>
                               <option value="8"
                               {% if car.capacity == 8 %}
                                    selected
                               {% endif %}
                               >8 {% trans 'plazas' %}</option>
                            </select>
                            <br>
                            <p>
                                {% if car.accessible %}
                                    <input type="checkbox" name="accessible" checked>{% trans 'HabilitadoMinusvalidos' %}
                                {% else %}
                                    <input type="checkbox" name="accessible">{% trans 'HabilitadoMinusvalidos' %}
                                {% endif %}

                                </br>
                                {% if car.animals %}
                                    <input type="checkbox" name="animals" checked>{% trans 'AnimalesPermitidos'%}
                                {% else %}
                                    <input type="checkbox" name="animals">{% trans 'AnimalesPermitidos'%}
                                {% endif %}
                            </p>
                        </div>
                        <p class="registerError">{{error}}</p>
                        <div class="clr"><button class="btn" type="submit">{% trans 'GrabVehiculo' %}</button></div>
                    </form> 
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
