{% extends "AppWeb/base2.html" %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/maintenance.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/closesession.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %} 
<!--        <div class="bg titulo">
            <h1>Registrate y empieza a viajar!</h1>
        </div> -->          
        <div class="bg">                
            <div class="contenido">
                <aside id="sidebar" class="span2">
                    <div class="tabs">
                        <ul class="menu nav">
                            <li class="first" ><a href="mantclient_data.html">Perfil de usuario</a></li>
                            <li><a href="mantclient_preferences.html" class="active">Preferencias de búsqueda</a></li>
                        </ul>
                    </div>
                </aside>
                 <div class="span10">
                    <form name="mantclient" id="mantclient" action="" method="POST">                      
                        {% csrf_token %}
                        <div class="col1 maintenance">
                            <p>
                                {% if client.fAccessible %}
                                    <input type="checkbox" name="fAccessible" checked = "checked">Taxis habilitados para minusválidos
                                {% else %}
                                    <input type="checkbox" name="fAccessible">Taxis habilitados para minusválidos
                                {% endif %}
                            </p>
                            <p>
                                {% if client.fAnimals %}
                                    <input type="checkbox" name="fAnimals" checked = "checked">Taxis que admitan animales
                                {% else %}
                                    <input type="checkbox" name="fAnimals">Taxis que admitan animales
                                {% endif %}
                            </p> 
                            <p>
                                {% if client.fAppPayment %}
                                    <input type="checkbox" name="fAppPayment" checked = "checked">Taxis que permitan el pago a través de la aplicación
                                {% else %}
                                    <input type="checkbox" name="fAppPayment">Taxis que permitan el pago a través de la aplicación
                                {% endif %}
                            </p>
                            <input type="number" id="fCapacity" name="fcapacity" placeholder="Capacidad"> 
                        </div>
                        <div class="clr"><button class="btn" type="submit">Actualizar</button></div>
                    </form> 
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}