{% extends "AppWeb/base2.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/maintenance.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/closesession.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<!--        <div class="bg titulo">
            <h1>Registrate y empieza a viajar!</h1>
        </div> -->          
        <div class="bg">                
            <div class="contenido">
                <aside id="sidebar" class="span2">
                    <div class="tabs">
                        <ul class="menu nav">
                            <li class="first" ><a href="mantdriver_data.html">{% trans 'PerfilUsuario' %}</a></li>
                            <li><a href="mantdriver_changepassword.html">{% trans 'ModificarContraseña' %}</a></li>
                            <li><a href="mantdriver_car.html">{% trans 'DatosVehiculo' %}</a></li>
                            <li><a href="mantdriver_bankaccount.html" class="active">{% trans 'DatosBancarios' %}</a></li>
                            <li><a href="mantdriver_travelgraphic.html">{% trans 'TrayectosRealizados' %}</a></li>
                        </ul>
                    </div>
                </aside>
                <div class="span10">
                    <form name="mantdriver" id="mantdriver" action="" method="POST">                      
                        {% csrf_token %}
                        <div class="col1 maintenance">
                            <p>
                                {% if car.appPayment %}
                                    <input type="checkbox" name="appPayment" checked>{% trans 'SeAdmitePago' %}
                                {% else %}
                                    <input type="checkbox" name="appPayment">{% trans 'SeAdmitePago' %}
                                {% endif %}
                            </p>
                            <span class="italic">{% trans 'InsPago' %}</span>
                            {% if car.appPayment %}
                                <input type="text" name="bankAccount" maxlength="20" placeholder="Número de cuenta" value="{{driver.bankAccount}}">
                                <input type="text" name="recipientName" maxlength="80" placeholder="Titular" value="{{driver.recipientName}}">
                            {% else %}
                                <input type="text" name="bankAccount" maxlength="20" placeholder="Número de cuenta" value="{{driver.bankAccount}}" disabled>
                                <input type="text" name="recipientName" maxlength="80" placeholder="Titular" value="{{driver.recipientName}}" disabled>
                            {% endif %}
                        </div>
                        <p class="registerError">{{error}}</p>
                        <div class="clr"><button class="btn" type="submit">{% trans 'Actualizar' %}</button></div>
                    </form> 
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}js/appPaymentCheck.js"></script>
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
