{% extends "AppWeb/base2.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/maintenance.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/closesession.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %} 
<!--        <div class="bg titulo">
            <h1>Registrate y empieza a viajar!</h1>
        </div> -->          
        <div class="bg">                
            <div class="contenido">
                <aside id="sidebar" class="span2">
                    <div class="tabs">
                        <ul class="menu nav">
                            <li class="first" ><a href="mantclient_data.html">{% trans 'PerfilUsuario' %}</a></li>
                            <li><a href="mantclient_changepassword.html">{% trans 'ModificarContraseña' %}</a></li>
                            <li><a href="mantclient_preferences.html" class="active">{% trans 'PrefBusqueda' %}</a></li>
                            <li><a href="mantclient_travels.html">{% trans 'Viajes' %}</a></li>
                        </ul>
                    </div>
                </aside>
                <div class="span10">
                    <h3 class="MaintenanceHeader">{% trans 'TitPreferencias' %}</h3>
                    <form name="mantclient" id="mantclient" action="" method="POST">                      
                        {% csrf_token %}
                        <div class="col1 maintenance preferences">
                            <input type="hidden" name="email" value="{{client.email}}">
                            <p>
                                {% if client.fAccessible %}
                                    <input type="checkbox" id="accessible" name="accessible" checked/>{% trans 'TaxisMinusvalidos' %}
                                {% else %}
                                    <input type="checkbox" id="accessible" name="accessible">{% trans 'TaxisMinusvalidos' %}
                                {% endif %}
                            </p>
                            <p>
                                {% if client.fAnimals %}
                                    <input type="checkbox" id="animals" name="animals" checked>{% trans 'TaxisAnimales' %}
                                {% else %}
                                    <input type="checkbox" id="animals" name="animals">{% trans 'TaxisAnimales' %}
                                {% endif %}
                            </p> 
                            <p>
                                {% if client.fAppPayment %}
                                    <input type="checkbox" id="appPayment" name="appPayment" checked>{% trans 'TaxisPagoApp' %}
                                {% else %}
                                    <input type="checkbox" id="appPayment" name="appPayment">{% trans 'TaxisPagoApp' %}
                                {% endif %}
                            </p>
                            <p>
                                {% trans 'Capacidad' %}<br>
                                <select id="capacity" name="capacity">
                                   <option value="1"
                                   {% if client.fCapacity == 1 %}
                                        selected
                                   {% endif %}
                                   >1 {% trans 'plaza' %}</option>
                                   <option value="2"
                                   {% if client.fCapacity == 2 %}
                                        selected
                                   {% endif %}
                                   >2 {% trans 'plazas' %}</option>
                                   <option value="3"
                                   {% if client.fCapacity == 3 %}
                                        selected
                                   {% endif %}
                                   >3 {% trans 'plazas' %}</option>
                                   <option value="4"
                                   {% if client.fCapacity == 4 %}
                                        selected
                                   {% endif %}
                                   >4 {% trans 'plazas' %}</option>
                                   <option value="5"
                                   {% if client.fCapacity == 5 %}
                                        selected
                                   {% endif %}
                                   >5 {% trans 'plazas' %}</option>
                                   <option value="6"
                                   {% if client.fCapacity == 6 %}
                                        selected
                                   {% endif %}
                                   >6 {% trans 'plazas' %}</option>
                                   <option value="7"
                                   {% if client.fCapacity == 7 %}
                                        selected
                                   {% endif %}
                                   >7 {% trans 'plazas' %}</option>
                                   <option value="8"
                                   {% if client.fCapacity == 8 %}
                                        selected
                                   {% endif %}
                                   >8 {% trans 'plazas' %}</option>
                               </select>
                            </p>
                            <p>
                                {% trans 'Distancia' %}<br>
                                <select id="filters_distance" name="filters_distance">
                                    <option value="1"
                                    {% if client.fDistance == 1 %}
                                        selected
                                    {% endif %}
                                    >1 km</option>
                                    <option value="2"
                                    {% if client.fDistance == 2 %}
                                        selected
                                    {% endif %}
                                    >2 km</option>
                                    <option value="3"
                                    {% if client.fDistance == 3 %}
                                        selected
                                    {% endif %}
                                    >3 km</option>
                                </select>
                            </p> 
                        </div>
                        <p class="registerError">{{error}}</p>
                        <div class="clr"><button class="btn" type="submit">{% trans 'GrabPreferencias' %}</button></div>
                    </form> 
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
