{% extends "AppWeb/base2.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/maintenance.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/closesession.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<!--        <div class="bg titulo">
            <h1>Registrate y empieza a viajar!</h1>
        </div> -->          
        <div class="bg">                
            <div class="contenido">
                <aside id="sidebar" class="span2">
                    <div class="tabs">
                        <ul class="menu nav">
                            <li class="first" ><a href="mantdriver_data.html">{% trans 'PerfilUsuario' %}</a></li>
                            <li><a href="mantdriver_changepassword.html">{% trans 'ModificarContraseña' %}</a></li>
                            <li><a href="mantdriver_car.html">{% trans 'DatosVehiculo' %}</a></li>
                            <li><a href="mantdriver_bankaccount.html">{% trans 'DatosBancarios' %}</a></li>
                            <li><a href="mantdriver_travelgraphic.html">{% trans 'TrayectosRealizados' %}</a></li>
                        </ul>
                    </div>
                </aside>
				<input type="button" class="pruebaJson" onclick="pruebaJson" value="pruebaJson" />
                 <div class="span10">
                    <h3 class="MaintenanceHeader">{% trans 'TitGraficos' %}</h3>
                    <form name="mantdriver" id="mantdriver" action="" method="POST" onsubmit="return validateDriverPassword();">                      
                        {% csrf_token %}
                        <div class="col1 maintenance">
								<style>
                            canvas{float: left;}
                            </style>
                            
                                <div style="width:800px;height:300px;" display:block>
                                    <div id="uno">
                                        <header>
                                            <h2>Viajes por año</h2>
                                        </header>
                                        <article>
                                            <canvas id="bar" height="300" width="300"  ></canvas>
                                        </article>
                                    </div>
                                    <div id="dos">
                                        <header>
                                            <h2>Viajes por mes</h2>
                                        </header>
                                        <article>
                                            <canvas id="line" height="300" width="500"  ></canvas>
                                        </article>
                                    </div>
                                    <div id="tres">
                                        <h2>Viajes por horas</h2>
                                        <canvas id="line2" height="300" width="400"  ></canvas>
                                    </div>
                                    <div id="cuatro">
                                        <h2>Viajes por dias</h2>
										<canvas id="line3" height="300" width="400"  ></canvas>
                                        <!-- <canvas id="doughnut" height="300" width="400"></canvas> -->
                                    </div>
                                </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script defer type="text/javascript" src="{{STATIC_URL}}js/validationChangePassword.js"></script>
	<script defer type="text/javascript" src="{{STATIC_URL}}js/chart.js"></script>
    <script defer type="text/javascript" src="{{STATIC_URL}}js/graphic.js"></script>
	
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
