{% extends "AppWeb/base.html" %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/validationwindow.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<!--<div class="bg titulo">
      <h1>Registrate y empieza a viajar!</h1>
    </div> -->      
    <div class="bg">        
      <div class="contenido">
        <section class="wrapper">
          {{codigo}}
            <ul class="tabs">
              <li><a href="#client">Cliente</a></li>
              <li><a href="#driver">Taxista</a></li>
            </ul>
            <div class="clr"></div>
            <section class="block">
              <article id="client">
                <div class="registerClientForm">
                  <form name="createaccountClient" id="createaccountClient" action="" method="POST" onsubmit="return validateClient();" autocomplete="off">    
                      <input type="hidden" name="tipo" value="C">   
                      <input type="email" name="email" maxlength="80" placeholder="Email" required = "required" value="{{request.POST.email}}">
                      <input type="tel" name="phone" maxlength="80" placeholder="Teléfono" required = "required" value="{{request.POST.phone}}">
                      <input type="password" name="password" maxlength="80" placeholder="Contraseña" required = "required" value="{{request.POST.password}}"><span class="passwordError hidefieldError">*</span>
                      <input type="password" name="passwordCon" maxlength="80" placeholder="Confirmar contraseña" required = "required" value="{{request.POST.passwordCon}}"><span class="passwordError hidefieldError">*</span>
                      <br><span>Al hacer clic en registrar, aceptas los <a href="termsofuse">términos del uso</a>.</span> 
                      <p class="registerError">{{error}}</p>    
                      <button class="btn" type="submit">Registrar</button>
                  </form>
                </div>
<!--                <div class="imagenD2">
                <img src="images/registro.png" alt="" />
              </div>   -->
                </article>
                <article id="driver">
                  <div class="registerDriverForm">
                    <form name="createaccountDriver" id="createaccountDriver" action="" method="POST" onsubmit="return validateDriver();" autocomplete="off">            
                        {% csrf_token %}
                        <input type="hidden" name="tipo" value="D">
                        <input type="email" name="email" maxlength="80" placeholder="Email" required = "required" value="{{request.POST.email}}">
                        <input type="tel" name="phone" maxlength="80" placeholder="Teléfono" required = "required" value="{{request.POST.phone}}">
                        <input type="text" name="first_name" maxlength="80" placeholder="Nombre" required = "required" value="{{request.POST.first_name}}">
                        <input type="text" name="last_name" maxlength="80" placeholder="Apellido" required = "required" value="{{request.POST.last_name}}">
                        <input type="password" name="password" maxlength="80" placeholder="Contraseña" required = "required" value="{{request.POST.password}}"><span class="passwordError hidefieldError">*</span>
                        <input type="password" name="passwordCon" maxlength="80" placeholder="Confirmar contraseña" required = "required" value="{{request.POST.passwordCon}}"><span class="passwordError hidefieldError">*</span>
                        <br><span>Datos del coche</span><br>
                        <input type="number" name="license" placeholder="Número de licencia" required value="{{request.POST.license}}">
                        <input type="text" name="plate" maxlength="7" placeholder="Matrícula" required value="{{request.POST.plate}}">
                        <input type="text" name="model" maxlength="80" placeholder="Modelo" required value="{{request.POST.model}}">
                        <input type="number" name="capacity" placeholder="Capacidad" required value="{{request.POST.capacity}}">
                        <br>
                        <p>
                            <input type="checkbox" name="accessible">Taxi habilitado para minusválidos
                        </p>
                        <p>
                            <input type="checkbox" name="animals">Se admiten animales
                        </p>
                        <p>
                            <input type="checkbox" name="appPayment">Se admite pago a través de la aplicación
                        </p>
                        <span class="italic">Si admite pago a través de la aplicación deberá especificar <br>Cuenta Bancaria y Nombre del Titular</span>
                        <input type="text" name="bankAccount" maxlength="20" placeholder="Número de cuenta" disabled value="{{request.POST.bancAccount}}"><span class="accountError hidefieldError">*</span>
                        <input type="text" name="recipientName" maxlength="80" placeholder="Titular" disabled value="{{request.POST.recipientName}}"><span class="accountError hidefieldError">*</span>
                        <br><span>Al hacer clic en registrar, aceptas los <a href="termsofuse">términos del uso</a>.</span> 
                        <p class="registerError">{{error}}</p>      
                        <button class="btn" type="submit">Registrar</button>
                    </form>
                  </div>
<!--                <div class="imagenD2">
                <img src="images/registro.png" alt="" />
              </div>   -->
                </article>
            </section>
        </section>
      </div>
    </div>

    <div class="overlay-container"> 
            <div class="window-container zoomin">
                <form id="validation-form" action="validateCode" method="POST" onsubmit="return ConcatPrefixPhone();">
                    {% csrf_token %}
                    <h3>Validación de la cuenta</h3>
                    <span class="popupText">Introduce Teléfono y código recibido en el móvil<br/>
                    <input type="hidden" name="tipo" value={{tipo}}>
                    {% if statusValidation == 401 %}
                        <input type="tel" id="phone" name="phone" maxlength=80 required="required" value = "{{phone|cut:"+34"}}" placeholder="Teléfono" tabindex="1">
                        <input type="number" id="validationCode" name="validationCode" maxlength=4 required="required" value = {{validationCode}} placeholder="Codigo Validación" tabindex="2">
                    {% else %}
                        <input type="tel" id="phone" name="phone" maxlength=80 required="required" value placeholder="Teléfono" tabindex="1">
                        <input type="number" id="validationCode" name="validationCode" maxlength=4 required="required" value placeholder="Codigo Validación" tabindex="2">
                    {% endif %}    
                    
                    <input type="button" value="Volver a solicitar código de validación" class="validationRef validation"/>   
                    <p class="h-left error ff-txt-error">{{errorValidation}}</p>
                    </span>
                    <button id="validation_button" type="submit" class="acept"><span>Aceptar</span></button>
                    <input type="button" value= "Cancelar" class="close"/>    
                </form>
            </div>
        </div>  
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/tabs.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/validationFields.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/clearFields.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/validationcode.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/appPaymentCheck.js"></script>
<script>
  function showValidationCodeWindow()
  {
      {% if status == 201 %}
          $('.overlay-container').fadeIn(function() {
              window.setTimeout(function(){
                  $('.window-container.zoomin').addClass('window-container-visible');
              }, 100);
          });
      {% endif %}
  }
 window.onload=showValidationCodeWindow;
</script>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
