{% extends "AppWeb/base.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/validationwindow.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="bg titulo tituloTermsofuse">
      <h1>{% trans 'TitRegistro' %}</h1>
      <h3>{% trans 'TitRegistro2' %}</h3>
    </div> 
    <div class="bg">        
      <div class="contenido">
        <section class="imagenI">
            {% if request.POST.tipo != "D" %}
              <input type="hidden" id="tabTipo" value="C">
            {% else %}
              <input type="hidden" id="tabTipo" value="D">
            {% endif %}    
            {{codigo}}
            <ul class="tabs">
              <li id="liClient"><a href="#client">{% trans 'TabCliente' %}</a></li>
              <li id="liDriver"><a href="#driver">{% trans 'TabTaxista' %}</a></li>
            </ul>
            <div class="clr"></div>
            <section class="block">
              <article id="client">
                <div class="registerClientForm">
                  <form name="createaccountClient" id="createaccountClient" action="" method="POST" onsubmit="return validateClient();" autocomplete="off">    
                      <input type="hidden" class="tipo" name="tipo" value="C">   
                      <input type="email" name="email" maxlength="80" placeholder={% trans 'Email' %} required value="{{request.POST.email}}">
                      <input type="tel" name="phone" maxlength="80" placeholder={% trans 'Teléfono' %} required value="{{request.POST.phone}}">
                      <input type="password" name="password" maxlength="80" placeholder={% trans 'Contraseña' %} required value="{{request.POST.password}}"><span class="passwordError hidefieldError">*</span>
                      <input type="password" name="passwordCon" maxlength="80" placeholder={% trans 'ConfirmarContraseña' %} required value="{{request.POST.passwordCon}}"><span class="passwordError hidefieldError">*</span>
                      <br><span>{% trans 'SigningUp1' %} <a href="termsofuse">{% trans 'SigningUp2' %}</a>.</span> 
                      <p class="registerError">{{error}}</p>    
                      <button class="btn" type="submit">{% trans 'Registrar' %}</button>
                  </form>
                </div>
                </article>
                <article id="driver">
                  <div class="registerDriverForm">
                    <form name="createaccountDriver" id="createaccountDriver" action="" method="POST" onsubmit="return validateDriver();" autocomplete="off">            
                        {% csrf_token %}
                        <input type="hidden" class="tipo" name="tipo" value="D">
                        <input type="email" name="email" maxlength="80" placeholder={% trans 'Email' %} required value="{{request.POST.email}}">
                        <input type="tel" name="phone" maxlength="80" placeholder={% trans 'Teléfono' %} required value="{{request.POST.phone}}">
                        <input type="text" name="first_name" maxlength="80" placeholder={% trans 'Nombre' %} required value="{{request.POST.first_name}}">
                        <input type="text" name="last_name" maxlength="80" placeholder={% trans 'Apellido' %} required value="{{request.POST.last_name}}">
                        <input type="password" name="password" maxlength="80" placeholder={% trans 'Contraseña' %} required value="{{request.POST.password}}"><span class="passwordError hidefieldError">*</span>
                        <input type="password" name="passwordCon" maxlength="80" placeholder={% trans 'ConfirmarContraseña' %} required value="{{request.POST.passwordCon}}"><span class="passwordError hidefieldError">*</span>
                        <br><br><span>{% trans 'DatosCoche' %}</span><br>
                        <input type="number" name="license" placeholder={% trans 'NúmeroLicencia' %} required value="{{request.POST.license}}" min="0">
                        <input type="text" name="plate" maxlength="7" placeholder={% trans 'Matrícula' %} required value="{{request.POST.plate}}">
                        <input type="text" name="model" maxlength="80" placeholder={% trans 'Modelo' %} required value="{{request.POST.model}}"><br>
                        <label class="lblCapacidad">{% trans 'Capacidad' %}</label>
                        <select id="capacity" name="capacity">
                           <option value="1"
                           {% if request.POST.capacity == 1 %}
                                selected
                           {% endif %}
                           >1 {% trans 'plaza' %}</option>
                           <option value="2"
                           {% if request.POST.capacity == 2 %}
                                selected
                           {% endif %}
                           >2 {% trans 'plazas' %}</option>
                           <option value="3"
                           {% if request.POST.capacity == 3 %}
                                selected
                           {% endif %}
                           >3 {% trans 'plazas' %}</option>
                           <option value="4"
                           {% if request.POST.capacity == 4 %}
                                selected
                           {% endif %}
                           >4 {% trans 'plazas' %}</option>
                           <option value="5"
                           {% if request.POST.capacity == 5 %}
                                selected
                           {% endif %}
                           >5 {% trans 'plazas' %}</option>
                           <option value="6"
                           {% if request.POST.capacity == 6 %}
                                selected
                           {% endif %}
                           >6 {% trans 'plazas' %}</option>
                           <option value="7"
                           {% if request.POST.capacity == 7 %}
                                selected
                           {% endif %}
                           >7 {% trans 'plazas' %}</option>
                           <option value="8"
                           {% if request.POST.capacity == 8 %}
                                selected
                           {% endif %}
                           >8 {% trans 'plazas' %}</option>
                        </select>
                        <br><span>{% trans 'SigningUp1' %} <a href="termsofuse">{% trans 'SigningUp2' %}</a>.</span> 
                        <p class="registerError">{{error}}</p>      
                        <button class="btn" type="submit">{% trans 'Registrar' %}</button>
                    </form>
                  </div>
                </article>
            </section>
        </section>
        <div class="textoD">
          <br/><img src="{{STATIC_URL}}img/image_registro.png" alt="">
        </div>
      </div>
    </div>

    <div class="overlay-container"> 
        <div class="window-container zoomin">
            <form id="validation-form"> 
                {% csrf_token %}
                <h3>{% trans 'ValidacionCuenta' %}</h3>
                <span class="popupText">{% trans 'TfnoYCodigoSMS' %}<br/>
                    <input type="tel" id="phone" name="phone" maxlength="12" required  placeholder={% trans 'Teléfono' %} tabindex="1">
                    <input type="text" id="validationCode" name="validationCode" maxlength="4" required value placeholder={% trans 'Codigo' %} tabindex="2">
                    <p class="h-left error ff-txt-error"></p><br/>                        
                    <input type="button" value="Volver a solicitar código de validación >>" class="validationRefRegister validation"/>   
                </span>
                <input type="button" value= "Aceptar" class="aceptRegister"/>  
                <input type="button" value= "Cancelar" class="close"/>   
            </form>
        </div>
    </div>   
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/tabs.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/validationFields.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/clearFields.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/validationcode.js"></script>
<script>
  function showValidationCodeWindow()
  {
      {% if status == 201 %}
          $('.overlay-container').fadeIn(function() {
              window.setTimeout(function(){
                  $('.window-container.zoomin').addClass('window-container-visible');
              }, 100);
          });
      {% endif %}
  }
 window.onload=showValidationCodeWindow;
</script>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
