{% extends "AppWeb/base.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/validationwindow.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<!--<div class="bg titulo">
      <h1>Registrate y empieza a viajar!</h1>
    </div> -->      
    <div class="bg">        
      <div class="contenido">
        <section class="wrapper">
            {% if request.POST.tipo != "D" %}
              <input type="hidden" id="tabTipo" value="C">
            {% else %}
              <input type="hidden" id="tabTipo" value="D">
            {% endif %}    
            {{codigo}}
            <ul class="tabs">
              <li id="liClient"><a href="#client">{% trans 'Cliente' %}</a></li>
              <li id="liDriver"><a href="#driver">{% trans 'Taxista' %}</a></li>
            </ul>
            <div class="clr"></div>
            <section class="block">
              <article id="client">
                <div class="registerClientForm">
                  <form name="createaccountClient" id="createaccountClient" action="" method="POST" onsubmit="return validateClient();" autocomplete="off">    
                      <input type="hidden" class="tipo" name="tipo" value="C">   
                      <input type="email" name="email" maxlength="80" placeholder="Email" required value="{{request.POST.email}}">
                      <input type="tel" name="phone" maxlength="80" placeholder="Teléfono" required value="{{request.POST.phone}}">
                      <input type="password" name="password" maxlength="80" placeholder="Contraseña" required value="{{request.POST.password}}"><span class="passwordError hidefieldError">*</span>
                      <input type="password" name="passwordCon" maxlength="80" placeholder="Confirmar contraseña" required value="{{request.POST.passwordCon}}"><span class="passwordError hidefieldError">*</span>
                      <br><span>{% trans 'Click1' %} <a href="termsofuse">{% trans 'Click2' %}</a>.</span> 
                      <p class="registerError">{{error}}</p>    
                      <button class="btn" type="submit">{% trans 'Registrar' %}</button>
                  </form>
                </div>
<!--                <div class="imagenD2">
                <img src="images/registro.png" alt="" />
              </div>   -->
                </article>
                <article id="driver">
                  <div class="registerDriverForm">
                    <form name="createaccountDriver" id="createaccountDriver" action="" method="POST" onsubmit="return validateDriver();" autocomplete="off">            
                        {% csrf_token %}
                        <input type="hidden" class="tipo" name="tipo" value="D">
                        <input type="email" name="email" maxlength="80" placeholder="Email" required value="{{request.POST.email}}">
                        <input type="tel" name="phone" maxlength="80" placeholder="Teléfono" required value="{{request.POST.phone}}">
                        <input type="text" name="first_name" maxlength="80" placeholder="Nombre" required value="{{request.POST.first_name}}">
                        <input type="text" name="last_name" maxlength="80" placeholder="Apellido" required value="{{request.POST.last_name}}">
                        <input type="password" name="password" maxlength="80" placeholder="Contraseña" required value="{{request.POST.password}}"><span class="passwordError hidefieldError">*</span>
                        <input type="password" name="passwordCon" maxlength="80" placeholder="Confirmar contraseña" required value="{{request.POST.passwordCon}}"><span class="passwordError hidefieldError">*</span>
                        <br><span>{% trans 'DatosCoche' %}</span><br>
                        <input type="number" name="license" placeholder="Número de licencia" required value="{{request.POST.license}}">
                        <input type="text" name="plate" maxlength="7" placeholder="Matrícula" required value="{{request.POST.plate}}">
                        <input type="text" name="model" maxlength="80" placeholder="Modelo" required value="{{request.POST.model}}">
                        <input type="number" name="capacity" placeholder="Capacidad" required value="{{request.POST.capacity}}">
                        <br>
                        <p>
                            <input type="checkbox" name="accessible">{% trans 'TaxisMinusvalidos' %}
                        </p>
                        <p>
                            <input type="checkbox" name="animals">{% trans 'TaxisAnimales' %}
                        </p>
                        <p>
                            <input type="checkbox" name="appPayment">{% trans 'TaxisPagoApp' %}
                        </p>
                        <span class="italic">{% trans 'Pago1' %}<br>{% trans 'Pago2' %}</span>
                        <input type="text" name="bankAccount" maxlength="20" placeholder="Número de cuenta" disabled value="{{request.POST.bancAccount}}"><span class="accountError hidefieldError">*</span>
                        <input type="text" name="recipientName" maxlength="80" placeholder="Titular" disabled value="{{request.POST.recipientName}}"><span class="accountError hidefieldError">*</span>
                        <br><span>{% trans 'Click1 '%} <a href="termsofuse">{% trans 'Click2' %}</a>.</span> 
                        <p class="registerError">{{error}}</p>      
                        <button class="btn" type="submit">{% trans 'Registrar' %}</button>
                    </form>
                  </div>
<!--                <div class="imagenD2">
                <img src="images/registro.png" alt="" />
              </div>   -->
                </article>
            </section>
        </section>
      </div>
    </div>

    <div class="overlay-container"> 
        <div class="window-container zoomin">
            <form id="validation-form"> 
                {% csrf_token %}
                <h3>{% trans 'ValidacionCuenta' %}</h3>
                <span class="popupText">{% trans 'TfnoYCodigoSMS' %}<br/>
                    <input type="tel" id="phone" name="phone" maxlength="12" required  placeholder="Teléfono" tabindex="1">
                    <input type="text" id="validationCode" name="validationCode" maxlength="4" required value placeholder="Codigo" tabindex="2">
                    <p class="h-left error ff-txt-error"></p><br/>                        
                    <input type="button" value="Volver a solicitar código de validación >>" class="validationRefRegister validation"/>   
                </span>
                <input type="button" value= "Aceptar" class="aceptRegister"/>  
                <input type="button" value= "Cancelar" class="close"/>   
            </form>
        </div>
    </div>   
{% endblock %}

{% block scripts %}
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/tabs.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/validationFields.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/clearFields.js"></script>
<script defer type="text/javascript" src="{{STATIC_URL}}js/validationcode.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/appPaymentCheck.js"></script>
<script>
  function showValidationCodeWindow()
  {
      {% if status == 201 %}
          $('.overlay-container').fadeIn(function() {
              window.setTimeout(function(){
                  $('.window-container.zoomin').addClass('window-container-visible');
              }, 100);
          });
      {% endif %}
  }
 window.onload=showValidationCodeWindow;
</script>
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock %}
