{% extends "AppWeb/base.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/maintenance.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}css/login.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
		<div class="bg titulo">
			<!-- <h1>Mapa Web</h1> -->
		</div>			
		<div class="bg">				
			<div class="contenido recover">	
				<form name="mantclient" id="mantclient" action="" method="GET">
					{% csrf_token %}
					<div class="passwordcontent maintenance">
						<div class="passwordHeader">
							<h2>{% trans 'RecuperarCuenta' %}</h2>
						</div>
						<div class="passwordBody">
							<div>
								<input type="email" name="email" maxlength="80" placeholder="Email" required value="{{request.GET.email}}">
							</div>
							<div>
								<input class="tipo" id="tipo" type="radio" name="tipo" length=2 value="C" 
								{% if request.GET.tipo != "D" %}
                                    checked = "checked"
                                {% endif %}
                                >
                                <span class="typeLabel">{% trans 'Cliente' %}</span>
                                <input class="tipo" type="radio" name="tipo" length=2 value="D"
                                {% if request.GET.tipo == "D" %}
                                    checked = "checked"
                                {% endif %}
                                >
	                            <span class="typeLabel">{% trans 'Taxista' %}</span>
	                            <p class="registerError">{{error}}</p>
							</div>
						</div>
						<div class="clr passwordButtom"><button class="btn" type="submit">{% trans 'Recuperar' %}</button></div>
					</div>
				</form>	
			</div>
		</div>
{% endblock %}

{% block scripts %}
{% endblock %}