{% extends "AppWeb/base.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
		<div class="bg titulo">
			
		</div>			
		<div class="bg">				
			<div class="contenido recover">	
				<form name="resetPass" id="resetPass" action="" method="POST" onsubmit="return validatePassword();">
					{% csrf_token %}
					<div class="passwordcontent maintenance">
						<div class="passwordHeader">
							<h2>{% trans 'ResetearPassword' %}</h2>
						</div>
						<div class="passwordBody">
							<div>
								<input type="hidden" name="tipo" value="{{tipo}}">
								<input type="hidden" name="email" value="{{email}}">
	                            <input type="password" name="newPass" maxlength="80" placeholder="{% trans 'ContraseñaNueva' %}" required><span class="passwordError hidefieldError">*</span>
	                            <input type="password" name="newPass2" maxlength="80" placeholder="{% trans 'ConfirmeContraseña' %}" required><span class="passwordError hidefieldError">*</span> 
								</div>
						</div>
						<p class="registerErrorRec">{{error}}</p>
						<div class="clr passwordButtomRec"><button class="btn" type="submit">{% trans 'Aceptar' %}</button></div>
					</div>
				</form>	
			</div>
		</div>
{% endblock %}

{% block scripts %}
	<script defer type="text/javascript" src="{{STATIC_URL}}js/validationChangePassword.js"></script>
{% endblock %}