{% extends "AppWeb/base.html" %}
{% load i18n %}

{% block head %}
<link href="{{STATIC_URL}}css/taxiexpress.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
		<div class="bg titulo tituloTermsofuse">
			<h1>{% trans 'TerminosUso' %}</h1>
            <h3>{% trans 'TerminosObligatorios' %}</h3>
		</div>			
        <div class="wrap">
            <div class="contenido">
                <div class="col3">
                    <h3>{% trans 'AceptacionTerminos' %}</h3>
                    <p>{% trans 'AceptacionTerminosDesc' %}</p>
                
                    <h3>{% trans 'CambiosCondiciones' %}</h3>
					<p>{% trans 'CambiosCondicionesDesc' %}</p>
                    
                    <h3>{% trans 'DisposicionWeb' %}</h3>
					<p>{% trans 'DisposicionWebDesc' %}</p>
                                    
                    <h3>{% trans 'UbicacionSitiosWeb' %}</h3>
					<p>{% trans 'UbicacionSitiosWebDesc' %}</p>
                                        
                    <h3>{% trans 'ConductaUsuario' %}</h3>
                    <p>{% trans 'ConductaUsuario2' %}<br/>
                    - {% trans 'Conducta1' %}<br/>
                    - {% trans 'Conducta2' %}<br/>
                    - {% trans 'Conducta3' %}<br/>
                    - {% trans 'Conducta4' %}<br/>
                    - {% trans 'Conducta5' %}<br/>
                    - {% trans 'Conducta6' %}<br/>
                    - {% trans 'Conducta7' %}<br/>
                    - {% trans 'Conducta8' %}<br/>
                    - {% trans 'Conducta9' %}<br/>
                    - {% trans 'Conducta10' %}    
                    </p>
                         
                    <h3>{% trans 'CondicionesServicios' %}</h3>     
                    <p><strong>{% trans 'UsuariosRegistrados' %}</strong><br/>{% trans 'UsuariosMayores' %}</p>
                </div>          
            </div>          
        </div>  
{% endblock %}

{% block scripts %}
{% endblock %}